{% extends 'base.html.twig' %}

{% block title %}{{ 'contact'|trans }}{% endblock %}

{% block body %}
    <div class="kbin-contact-page">
        <div class="mt-lg-4">
            <div class="kbin-magazine-background"></div>

            <h1 class="font-weight-bold mb-5">{{ 'contact'|trans }}</h1>

            {% include 'page/_form_contact.html.twig' %}
        </div>
    </div>
{% endblock %}
