{% extends 'base.html.twig' %}

{% block title %}{{ 'privacy_policy'|trans }}{% endblock %}

{% block body %}
    <div class="kbin-privacy-policy-page">
        <div class="col-lg-6">
            <div class="kbin-magazine-background"></div>

            <h1 class="font-weight-bold mb-5">{{ 'privacy_policy'|trans }}</h1>

        </div>
    </div>
{% endblock %}
