{% extends 'base.html.twig' %}

{% block title %}{{ 'privacy_policy'|trans }}{% endblock %}

{% block body %}
    <div class="kbin-privacy-policy-page">
        <h1 class="font-weight-bold mb-5">{{ 'privacy_policy'|trans }}</h1>

        {{ body|markdown|raw }}
    </div>
{% endblock %}
