{% extends 'base.html.twig' %}

{% block title %}{{ 'terms'|trans }}{% endblock %}

{% block body %}
    <div class="kbin-terms-page">
        <h1 class="font-weight-bold mb-5">{{ 'terms'|trans }}</h1>

        {{ body|markdown|raw }}
    </div>
{% endblock %}
