{% extends 'base.html.twig' %}

{% block mainClass %}page-terms{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    <div id="content" class="section section--top">
        <h1>{{ 'terms'|trans }}</h1>
        {{ body|markdown|raw }}
    </div>
{% endblock %}
