{% from 'user/_macros.html.twig' import avatar %}

<div class="table-responsive">
    <table class="table align-middle">
        <thead>
        <tr>
            <td>Tytuł</td>
            <td>Wiadomośćaa</td>
        </tr>
        </thead>
        <tbody>
        {% for notification in notifications %}
            <tr>
                <td>{{ notification.status }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% if(notifications.haveToPaginate) %}
    {{ pagerfanta(notifications, null, {'pageParameter':'[strona]'}) }}
{% endif %}
