<section class="kbin-section kbin-section--top">
    <form class="kbin-post-add kbin-post-add--top">
        <div class="kbin-group">
            <label>
                <textarea aria-label="Treść posta"></textarea>
            </label>
        </div>

        <div class="kbin-post-add-actions">
            <button type="button" class="kbin-btn kbin-btn__secondry" aria-label="Jak działa edytor?"><i
                        class="kbin-icon__question"></i></button>
            <button type="button" class="kbin-btn kbin-btn__secondry" aria-label="Dodaj media"><i class="kbin-icon__media"></i>
            </button>
            <input type="submit" value="Dodaj post">
        </div>
    </form>
</section>