<aside class="options" id="options">
    <div class="options__title"><h2>{{ 'comments'|trans }} ({{ post.commentCount }})</h2></div>
    <menu class="options__layout">
        <li><a href="#" title="{{ 'change_view'|trans }}" aria-label="{{ 'change_view'|trans }}"><i class="icon__layout"></i></a></li>
    </menu>
</aside>
