<aside class="kbin-options kbin-options-activity">
    <div class="kbin-options__title"><h2>Aktywność (12)</h2></div>
    <menu class="kbin-options__sort">
        <li><a href="#">pozytywne (10)</a></li>
        <li><a href="#">negatywne (2)</a></li>
        <li><a href="#">ulubione (6)</a></li>
    </menu>
</aside>
