{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'add_comment'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-post-comment-create{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {{ component('post', {post: post, isSingle: true, showMagazineName: false}) }}
    {% if parent is defined and parent %}
        {{ component('post_comment', {comment: parent, showEntryTitle: false, showNested: false}) }}
    {% endif %}
    <div id="content">
        <section class="section">
            {% include 'post/comment/_form_comment.html.twig' %}
        </section>
    </div>
{% endblock %}
