{% extends 'base.html.twig' %}

{% block mainClass %}page-post-comment-create{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {{ component('post', {post: post, isSingle: true, showMagazine: false}) }}

    {% include 'post/comment/_options.html.twig' %}
    {% if parent is defined and parent %}
        {{ component('post_comment', {comment: parent, showEntry: false}) }}
    {% endif %}
    <div id="content">
        {% include 'post/comment/_add_comment.html.twig' %}
    </div>
{% endblock %}
