{% extends 'post/single.html.twig' %}
{% from 'post/comment/_macros.html.twig' import comment %}

{% block title %}Edytuj wpis | {{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block before_comments %}
    <div class="kbin-comment-edit-wrapper mt-4">
        <h4 class="font-weight-bold">Odpowiedz:</h4>
    </div>

    {% if parent %}
        {{ comment(parent, {
            self: app.user,
            comment: parent,
            extra_classes: 'kbin-comment-list-item mb-0'
        }) }}
    {% endif %}

    {% include 'post/comment/_form.html.twig' %}
{% endblock %}
