{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'favourites'|trans }} - {{ get_short_sentence(comment.body, 80) }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-post-comment-favourites{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {{ component('post_comment', {comment: comment}) }}
    {% include 'post/comment/_options_activity.html.twig' %}
    <div id="content">
        {% include 'layout/_activity_list.html.twig' with {list: favourites} %}
    </div>
{% endblock %}
