{% extends 'post/single.html.twig' %}

{% block title %}{{ 'votes'|trans }}{% endblock %}

{% block body %}
    <section class="kbin-comment-wrapper mt-4 mb-4">
        {{ component('post_comment', { comment: comment, withParent: false }) }}
    </section>

    {% include '_layout/_voters_list_grid.html.twig' with { subject: comment } %}
{% endblock %}
