framework:
  secret: '%env(APP_SECRET)%'
  #csrf_protection: true

  # Enables session support. Note that the session will ONLY be started if you read or write from it.
  # Remove or comment this section to explicitly disable session support.
  session:
    handler_id: '%env(REDIS_DNS)%'
    cookie_secure: auto
    cookie_samesite: lax
    gc_maxlifetime: 604800 # Match the remember_me lifetime
    storage_factory_id: session.storage.factory.native

  #esi: true
  #fragments: true
  php_errors:
    log: true
