{% extends 'base.html.twig' %}
{% from 'modlog/_macros.html.twig' import modlog %}

{% block title %}{{ 'modlog'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="kbin-modlog-page">
        {{ modlog(logs, {show_magazine:true}) }}
    </div>
{% endblock %}
