<aside class="options options--top" id="options">
    <div></div>
    <menu class="options__main">
        <li>
            <a href="#"
               class="">
                <span class="dot" style="background: gold"></span> {{ 'gold'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="#"
               class="">
                <span class="dot" style="background: silver"></span> {{ 'silver'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="#"
               class="">
                <span class="dot" style="background: brown"></span> {{ 'bronze'|trans|lower }}
            </a>
        </li>
    </menu>
</aside>
