{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'awards'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-awards{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    <h1>{{ 'awards'|trans }}</h1>
    <div id="content" class="section section--muted">
    </div>
{% endblock %}
