{% extends 'base.html.twig' %}

{% block title %}{{ 'message'|trans }}{% endblock %}

{% block body %}
    <div class="kbin-user-message-page">
        {% include 'user/profile/_tabs.html.twig' %}

        <div class="kbin-comment-wrapper">
            <div class="mb-3">
                {% include 'user/profile/_form_message.html.twig' %}
            </div>
            <div class="row kbin-comment-list">
                {% for message in thread.messages %}
                    {% include 'user/profile/_message.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'user/_sidebar.html.twig' %}
    {{ parent() }}
    <div class="mb-4">
        {% include 'user/_moderator_list_card.html.twig' %}
    </div>
{% endblock %}
