{% extends 'base.html.twig' %}

{% use 'user/profile/_notifications.html.twig' %}

{% from '_layout/_not_found.html.twig' import not_found %}

{% block title %}{{ 'notifications'|trans }}{% endblock %}

{% block body %}
    <div class="kbin-profile kbin-profile-notifications-page">
        {% include 'user/profile/_tabs.html.twig' %}

        <div class="kbin-profile-reports mt-lg-4">
            {% if false %}
            {% else %}
                {{ not_found() }}
            {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'user/_sidebar.html.twig' with {user: app.user} %}
    {% include 'user/profile/_sidebar.html.twig' %}
    {{ parent() }}
    <div class="mb-4">
        {% include 'user/_moderator_list_card.html.twig' with {user: app.user} %}
    </div>
{% endblock %}
