{% extends 'base.html.twig' %}

{% from '_layout/_not_found.html.twig' import not_found_transactions %}

{% block title %}{{ 'tips'|trans }}{% endblock %}

{% block body %}
    <div class="kbin-tips kbin-profile-tips-page position-relative">
        {% include 'user/profile/_tabs.html.twig' %}

        <div class="kbin-profile-tips mt-lg-4  position-relative">
            <div class="col-lg-6">
                <div class="kbin-cardano-background"></div>

                <div class="kbin-cardano-wallet-address mb-5">
                    {% include 'cardano/_form_cardano_wallet_address.html.twig' with { form: addressForm } %}
                </div>

                {% include 'cardano/_mnemonic.html.twig' %}

                {% if app.user and app.user.cardanoWalletId %}
                {% else %}
                    {% include 'cardano/_create_wallet_modal.html.twig' %}
                {% endif %}

                {% include 'cardano/_create_wallet_desc.html.twig' %}

                <hr class="my-4">
            </div>
        </div>
        <div class="kbin-profile-transactions mt-lg-4">
            <h2 class="font-weight-bold">{{ 'transactions'|trans }}</h2>
            {% if transactions|length %}
                <div class="table-responsive">
                    <table class="table align-middle small">
                        <tbody>
                        {% for transaction in transactions %}

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                {{ not_found_transactions() }}
            {% endif %}
            <hr>

        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'user/_sidebar.html.twig' with {user: app.user} %}
    {% include 'user/profile/_sidebar.html.twig' %}
    {{ parent() }}
    <div class="mb-4">
        {% include 'user/_moderator_list_card.html.twig'with {user: app.user} %}
    </div>
{% endblock %}

