<div class="kbin-domains mt-lg-0 mb-5 text-center">
    <div class="row">
        <div class="col-lg-12">
            <h6 class="font-weight-bold kbin-logo-color">{{ domain.name }}</h6>
            {% include 'domain/_sub_button.html.twig' %}
        </div>
    </div>
</div>
