<h2 class="h5 mb-2">
    <a class="text-decoration-none text-reset font-weight-bold"
          href="{{ path('domain_front', {name: domain.name}) }}">{{ domain.name }}</a>
</h2>
<div class="hr"></div>