{% extends 'base.html.twig' %}

{% block title %}{{ 'contact'|trans }}{% endblock %}

{% block body %}
    <div class="kbin-entry-create-page">
        <div class="kbin-entry-create-article mt-lg-4" data-controller="entry-create">
            <div class="kbin-magazine-background"></div>

            <h1 class="font-weight-bold">{{ 'contact'|trans }}</h1>

            {% include 'pages/_form_contact.html.twig' %}
        </div>
    </div>
{% endblock %}
