{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'blacklists'|trans }} - {{ app.user.username|username(false) }} - {{ parent() -}}
{%- endblock -%}


{% block mainClass %}page-settings page-settings-block-magazines{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {% include('user/settings/_options.html.twig') %}
    {% include 'user/settings/block_pills.html.twig' %}
    <div id="content">
        {% include 'layout/_magazine_activity_list.html.twig' with {list: magazines, actor: 'magazine'} %}
    </div>
{% endblock %}
