{% extends 'base.html.twig' %}

{% block title %}Zgłoszenia | /m/{{ magazine.name }} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="kbin-magazine-bans-page">
        {% include 'magazine/panel/_tabs.html.twig' %}
        <div class="kbin-magazine-bans mt-lg-4">
            {% include 'magazine/panel/_badges_list_table.html.twig' %}
        </div>
        <div class="col-lg-6">
            {% include 'magazine/panel/_form_badge.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {% include 'magazine/_sidebar.html.twig' %}
{% endblock %}
