{% extends 'base.html.twig' %}

{% block title %}{{ 'bans'|trans }} | /m/{{ magazine.name }} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="kbin-magazine-ban-page">
        {% include 'magazine/panel/_tabs.html.twig' %}
        {% include '_layout/_flash.html.twig' %}
        <div class="kbin-magazine-ban mt-lg-4">
            <div class="row">

                <div class="col-lg-6 mb-3">
                    {% include 'user/_sidebar.html.twig' %}
                </div>
                <div class="col-lg-6 mb-3">
                    {% include 'magazine/panel/_form_ban.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {% include 'magazine/_sidebar.html.twig' %}
{% endblock %}
