{% extends 'base.html.twig' %}

{% block title %}{{ 'moderators'|trans }} | /m/{{ magazine.name }} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="kbin-magazine-moderators-page">
        {% include 'magazine/panel/_tabs.html.twig' %}
        {% include '_layout/_flash.html.twig' %}
        <div class="kbin-magazine-moderators mt-md-4">
            {% include 'magazine/panel/_moderators_list_table.html.twig' %}
        </div>

        <div class="col-lg-6">
            {% include 'magazine/panel/_form_moderator.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {% include 'magazine/_sidebar.html.twig' %}
{% endblock %}
