{% for entry in entries %}
    {{ component('entry', {entry: entry, showMagazine: magazine is not defined or not magazine}) }}
{% endfor %}

{% if not entries|length %}
    <aside class="section section--muted user-list">
        <p>{{ 'empty'|trans }}</p>
    </aside>
{% endif %}
