{% from '_layout/_not_found.html.twig' import not_found %}
{% from 'entry/_macros.html.twig' import entry %}

<div class="kbin-entry-list" data-controller="entry-list" data-entry-list-magazine-name-value="{{ magazine is defined ? magazine.name : null }}">
    {% if entries|length %}
        {% for entry in entries %}
            {{ entry(entry, {
                entry: entry,
                self: app.user,
                extra_classes: 'kbin-entry-list-item',
                title_tag: 'h4'
            }) }}
        {% endfor %}
    {% else %}
        {{ not_found(0) }}
    {% endif %}
    {% if(entries.haveToPaginate) %}
        {{ pagerfanta(entries, null, {'pageParameter':'[strona]'}) }}
    {% endif %}
</div>
