{% from '_layout/_not_found.html.twig' import not_found %}

<div class="kbin-entry-list" data-controller="entry-list"
    data-action="notify:EntryCreatedNotification@window->entry-list#add"
    {% if magazine is defined and magazine %}data-entry-list-magazine-name-value="{{ magazine.name }}"{% endif %}>
    {% if entries|length %}
        {% for entry in entries %}
            {{ component('entry', { entry: entry, extraClass: 'kbin-entry-list-item', showMagazine: magazine is not defined }) }}
        {% endfor %}
    {% else %}
        {{ not_found(0) }}
    {% endif %}
    {% if(entries.haveToPaginate is defined and entries.haveToPaginate) %}
        {{ pagerfanta(entries, null, {'pageParameter':'[p]'}) }}
    {% endif %}
</div>
