{% for entry in entries %}
    {{ component('entry', {entry: entry, showMagazineName: magazine is not defined or not magazine}) }}
{% endfor %}
{% if(entries.haveToPaginate is defined and entries.haveToPaginate) %}
    {{ pagerfanta(entries, null, {'pageParameter':'[p]'}) }}
{% endif %}
{% if not entries|length %}
    <aside class="section section--muted">
        <p>{{ 'empty'|trans }}</p>
    </aside>
{% endif %}
