<aside class="kbin-options kbin-options--top" id="kbin-options">
    <menu class="kbin-options__sort">
        <li><a href="#">ważne</a></li>
        <li><a href="#">gorące</a></li>
        <li><a href="#">aktywne</a></li>
        <li><a href="#">komentowane</a></li>
    </menu>
    <menu class="kbin-options__layout">
        <li><a href="#" title="Widok kompaktowy" aria-label="Widok kompaktowy"><i class="kbin-icon__layout"></i></a></li>
    </menu>
    <menu class="kbin-options__filters">
        <li>
            <a href="#" title="Filtruj po czasie" aria-label="Filtruj po czasie"><i class="kbin-icon__clock"></i></a>
        </li>
        <li>
            <a href="#" title="Filtruj po typie" aria-label="Filtruj po typie"><i class="kbin-icon__media"></i></a>
        </li>
    </menu>
</aside>
