<div class="modal show pb-5" tabindex="-1" id="entry-popup" style="display: block">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-lg-down modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        data-controller="content-popup" data-action="click->content-popup#close"
                        class="btn-close float-start"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        style="margin:0;"></button>
            </div>
            <div class="modal-body">
                {% include 'entry/_single.html.twig' %}
            </div>
        </div>
    </div>
</div>
