<div class="kbin-user-list">
    <ul>
        <li>
            <figure><img width="30" height="30" class="img-thumbnail"
                         src="https://karab.in/media/cache/resolve/avatar_thumb/83/99/839930ebc974914aaa2380dde7099c15fa6af3a1b01cc75057a1961f6e3b0588.png"
                         alt="ernest">
            </figure>
            <div>
                <a href="#" class="kbin-stretched-link">kasia</a>
                <small>3 minuty temu</small>
            </div>
        </li>
        <li>
            <figure><img width="30" height="30" class="img-thumbnail"
                         src="https://karab.in/media/cache/resolve/avatar_thumb/83/99/839930ebc974914aaa2380dde7099c15fa6af3a1b01cc75057a1961f6e3b0588.png"
                         alt="ernest">
            </figure>
            <div>
                <a href="#" class="kbin-stretched-link">kasia</a>
                <small>3 minuty temu</small>
            </div>
        </li>
        <li>
            <figure><img width="30" height="30" class="img-thumbnail"
                         src="https://karab.in/media/cache/resolve/avatar_thumb/83/99/839930ebc974914aaa2380dde7099c15fa6af3a1b01cc75057a1961f6e3b0588.png"
                         alt="ernest">
            </figure>
            <div>
                <a href="#" class="kbin-stretched-link">kasia</a>
                <small>3 minuty temu</small>
            </div>
        </li>
        <li>
            <figure><img width="30" height="30" class="img-thumbnail"
                         src="https://karab.in/media/cache/resolve/avatar_thumb/83/99/839930ebc974914aaa2380dde7099c15fa6af3a1b01cc75057a1961f6e3b0588.png"
                         alt="ernest">
            </figure>
            <div>
                <a href="#" class="kbin-stretched-link">kasia</a>
                <small>3 minuty temu</small>
            </div>
        </li>
        <li>
            <figure><img width="30" height="30" class="img-thumbnail"
                         src="https://karab.in/media/cache/resolve/avatar_thumb/83/99/839930ebc974914aaa2380dde7099c15fa6af3a1b01cc75057a1961f6e3b0588.png"
                         alt="ernest">
            </figure>
            <div>
                <a href="#" class="kbin-stretched-link">kasia</a>
                <small>3 minuty temu</small>
            </div>
        </li>
        <li>
            <figure><img width="30" height="30" class="img-thumbnail"
                         src="https://karab.in/media/cache/resolve/avatar_thumb/83/99/839930ebc974914aaa2380dde7099c15fa6af3a1b01cc75057a1961f6e3b0588.png"
                         alt="ernest">
            </figure>
            <div>
                <a href="#" class="kbin-stretched-link">kasia</a>
                <small>3 minuty temu</small>
            </div>
        </li>

    </ul>
</div>
