{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'add_new_photo'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-entry-create page-entry-create-image{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {% include 'entry/_create_options.html.twig' %}

    <h1 hidden>{{ 'add_new_photo'|trans }}</h1>
    <div id="content" class="section">
        <div class="container">
            {% include 'entry/_form_image.html.twig' %}
        </div>
    </div>
{% endblock %}
