{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'add_new_link'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-entry-create page-entry-create-link{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {% include 'entry/_create_options.html.twig' %}

    <h1 hidden>{{ 'add_new_link'|trans }}</h1>
    <div id="content" class="section">
        <div class="container" data-controller="entry-link-create">
            {% include 'entry/_form_link.html.twig' %}
        </div>
    </div>
{% endblock %}
