{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'edit_photo'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-entry-create page-entry-edit-image{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {{ component('entry', {entry: entry, class: 'section--top'}) }}
    <div id="content" class="section">
        <div class="container">
            <h1>{{ 'edit_photo'|trans }}</h1>
            {% include 'entry/_form_image.html.twig' %}
        </div>
    </div>
{% endblock %}
