{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'edit_link'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-entry-create page-entry-edit-link{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {{ component('entry', {
        entry: entry,
        class: 'section--top'
    }) }}

    <h1 hidden>{{ 'edit_link'|trans }}</h1>
    <div id="content" class="section">
        <div class="container">
            {% include 'entry/_form_link.html.twig' with {edit: true} %}
        </div>
    </div>
{% endblock %}
