{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'edit_article'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-entry-create page-entry-edit-article{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {{ component('entry', {entry: entry, class: 'section--top'}) }}

    <h1 hidden>{{ 'edit_article'|trans }}</h1>
    <div id="content" class="section">
        <div class="container">
            {% include 'entry/_form_article.html.twig' %}
        </div>
    </div>
{% endblock %}
