{% extends 'base.html.twig' %}

{% block title %}{{ 'edit_link'|trans }}{% endblock %}

{% block body %}
    <div class="kbin-entry-edit-page">
        <div class="kbin-entry-create-link mt-lg-4">
            <div class="kbin-magazine-background"></div>

            <h1 class="font-weight-bold">{{ 'edit_link'|trans }}</h1>
            <p class="kbin-magazine-create-lead lead mb-5">
                {{ 'add_new_article_desc'|trans }}
            </p>

            <div class="col-lg-6">
                {% include 'entry/_form_link.html.twig' %}
            </div>

            <div class="clearfix mb-4"></div>

            <div class="col-lg-6">
                {% include 'entry/_form_delete.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {% if magazine is defined and magazine %}
        {% include 'magazine/_sidebar.html.twig' %}
    {% endif %}
{% endblock %}
