{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'favourites'|trans }} - {{ entry.title}} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-entry-favourites{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    <div id="content">
        {{ component('entry', {entry: entry, isSingle: true, showBody: false}) }}
        {% include 'entry/_options_activity.html.twig' %}
        <div id="content">
            {% include 'layout/_activity_list.html.twig' with {list: favourites} %}
        </div>
    </div>
{% endblock %}
