{% extends 'base.html.twig' %}

{% block mainClass %}page-entry-favourites{% endblock %}

{% block body %}
    <div id="content">
        {{ component('entry', {entry: entry, isSingle: true, showBody: false}) }}
        {% include 'entry/_options_activity.html.twig' %}
        {% include 'layout/_activity_list.html.twig' with {list: favourites} %}
    </div>
{% endblock %}
