{% extends 'base.html.twig' %}
{% from 'entry/_macros.html.twig' import entry %}

{% block body %}
    {{ entry(entry, {
        extra_classes: 'kbin-entry-single',
        show_content: true
    }) }}

    <section class="kbin-comment-wrapper mt-4">
        <h4 class="kbin-comment-wrapper-header pb-3 mb-0">Komentarze</h4>

        {% include 'entry/comment/_list.html.twig'  with {'comments': entry.comments} only %}

        {{ render(controller('App\\Controller\\EntryCommentController::commentForm', {
            'magazineName': entry.magazine.name,
            'entryId': entry.id
        })) }}
    </section>
{% endblock %}
