{% extends 'base.html.twig' %}
{% from 'entry/_macros.html.twig' import entry %}

{% block body %}
    {{ entry(entry, {
        extra_classes: 'kbin-entry-single',
        show_content: true
    }) }}

    <h2>Komentarze</h2>
    {{ render(controller('App\\Controller\\CommentController::commentForm', {
        'magazineName': entry.magazine.name,
        'entryId': entry.id
    })) }}

    {% include 'comment/_list.html.twig'  with {'comments': entry.comments} only %}
{% endblock %}
