{% extends 'base.html.twig' %}
{% from 'entry/_macros.html.twig' import entry %}

{% block body %}
    {{ entry(entry) }}

    <p>{{ entry.body }}</p>

    <h2>Komentarze</h2>
    {{ render(controller('App\\Controller\\CommentController::commentForm', {
        'magazineName': entry.magazine.name,
        'entryId': entry.id
    })) }}

    {% for comment in entry.comments %}
        <blockquote>{{ comment.body }}</blockquote>
    {% endfor %}
{% endblock %}
