{% extends 'base.html.twig' %}

{% block body %}
    <div id="kbin-content">
         {{ component('entry', {entry: entry, isSingle: true, class: 'kbin-entry--single'}) }}
        {% include 'entry/comment/_options_sort.html.twig' %}
        {% include 'entry/comment/_no_comments.html.twig' %}
        {% include 'entry/comment/_list.html.twig' %}
        {% include 'entry/comment/_add_comment.html.twig' %}
        {% include 'entry/comment/_options_votes.html.twig' %}
        {% include 'entry/_votes_list.html.twig' %}
    </div>
{% endblock %}
