{% extends 'base.html.twig' %}

{%- block title -%}
    {{- route_has_param('type', 'up') ? 'up_votes'|trans : 'down_votes'|trans }} - {{ entry.title}} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-entry-voters{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    <div id="content">
        {{ component('entry', {entry: entry, isSingle: true, showBody: false}) }}
        {% include 'layout/_flash.html.twig' %}
        {% include 'entry/_options_activity.html.twig' %}
        <div id="content">
            {% include 'layout/_user_activity_list.html.twig' with {list: votes} %}
        </div>
    </div>
{% endblock %}
