@mixin fade-in($waitTime, $from) {
  animation: fadein #{$waitTime} linear 1 normal forwards;
  -webkit-animation: fadein #{$waitTime} linear 1 normal forwards;

  @include media-breakpoint-down(sm) {
    animation: fadein 0s linear 1 normal forwards;
    -webkit-animation: fadein 0s linear 1 normal forwards;
  }


  @keyframes fadein {
    from {
      opacity: $from;
    }
    to {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadein {
    from {
      opacity: $from;
    }
    to {
      opacity: 1;
    }
  }
}
