@mixin kbin-btn-link {
  background: none;
  border: 0;
  display: inline;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: var(--kbin-meta-link-color);
  font-size: 1em;

  &:hover,
  &:focus-within {
    background: none;
    cursor: pointer;
  }

  &:hover {
    color: var(--kbin-meta-link-hover-color);
  }
}

@mixin cursor-pointer{
  cursor: pointer;
}

@mixin simple-transition{
  transition: all 150ms ease-in;
}