{% extends 'base.html.twig' %}

{%- block title -%}
    title
{%- endblock -%}

{% block mainClass %}page-domain-comments-front{% endblock %}

{% block header_nav %}
    {% include 'domain/_header_nav.html.twig' %}
{% endblock %}

{% block sidebar_top %}
    {{ component('domain', {domain: domain}) }}
{% endblock %}

{% block body %}
    <h1 hidden>{{ domain.name }}</h1>
    <h2 hidden>{{ get_active_sort_option()|trans }}</h2>
    {% include 'entry/comment/_options.html.twig' %}
    <div id="content" class="comments-tree">
        {% include 'entry/comment/_list.html.twig' %}
    </div>
{% endblock %}

