<h1>Cześć! Potwierdź swój adres email!</h1>

<p>
    Jeżeli chcesz aktywować swoje konto kliknij w poniższy link: <br><br>
    <a href="{{ signedUrl|raw }}">Potwierdź adres email</a>.
    Link wygaśnie za 1 godzinę.
    {# Link wygaśnie za {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}. #}
</p>

<p>
    Cheers!
</p>
