magazine_create:
  controller: App\Controller\Magazine\MagazineCreateController
  path:
    en: /newMagazine
    pl: /nowyMagazyn
  methods: [ GET, POST ]

magazine_delete:
  controller: App\Controller\Magazine\MagazineDeleteController::delete
  path: /m/{name}/delete
  methods: [ POST ]

magazine_purge:
  controller: App\Controller\Magazine\MagazineDeleteController::purge
  path: /m/{name}/purge
  methods: [ POST ]

magazine_list_all:
  controller: App\Controller\Magazine\MagazineListController
  defaults: { sortBy: hot, view: table }
  path:
    en: /magazines/{sortBy}/{view}
    pl: /magazyny/{sortBy}/{view}
  methods: [ GET ]

magazine_moderators:
  controller: App\Controller\Magazine\MagazineModController
  path:
    en: /m/{name}/moderators
    pl: /m/{name}/moderatorzy
  methods: [ GET ]

magazine_modlog:
  controller: App\Controller\Magazine\MagazineLogController
  path: /m/{name}/modlog
  methods: [ GET ]

magazine_awards:
  controller: App\Controller\Magazine\MagazineAwardController
  defaults: { category: ~ }
  path:
    en: /m/{name}/awards/{category}
    pl: /m/{name}/odznaczenia/{category}
  methods: [ GET ]

magazine_people:
  controller: App\Controller\Magazine\MagazinePeopleController
  path:
    en: /m/{name}/people
    pl: /m/{name}/ludzie
  methods: [ GET ]

magazine_subscribe:
  controller: App\Controller\Magazine\MagazineSubController::subscribe
  path: /m/{name}/subscribe
  methods: [ POST ]

magazine_unsubscribe:
  controller: App\Controller\Magazine\MagazineSubController::unsubscribe
  path: /m/{name}/unsubscribe
  methods: [ POST ]

magazine_block:
  controller: App\Controller\Magazine\MagazineBlockController::block
  path: /m/{name}/block
  methods: [ POST ]

magazine_unblock:
  controller: App\Controller\Magazine\MagazineBlockController::unblock
  path: /m/{name}/unblock
  methods: [ POST ]
