page_contact:
  controller: App\Controller\ContactController
  path: /contact
  methods: [ GET, POST ]

page_faq:
  controller: App\Controller\FaqController
  path: /faq
  methods: [ GET ]

page_privacy_policy:
  controller: App\Controller\PrivacyPolicyController
  path: /privacy-policy
  methods: [ GET ]

page_terms:
  controller: App\Controller\TermsController
  path: /terms
  methods: [ GET ]

award_list_all:
  controller: App\Controller\AwardListController
  defaults: { category: ~ }
  path: /awards/{category}
  methods: [ GET ]

stats:
  controller: App\Controller\StatsController
  defaults: { statsType: general, statsPeriod: -1, withFederated: false }
  path: /stats/{statsType}/{statsPeriod}/{withFederated}
  methods: [ GET ]

ranking:
  controller: App\Controller\RankingController
  path: /ranking
  methods: [ GET ]
