{% from 'magazine/_macros.html.twig' import magazine %}

Moderator usunął twoją treść w {{ magazine(notification.entry.magazine) }} - <strong><a
            href="{{ path('entry_single', {'magazine_name': notification.entry.magazine.name, 'entry_id': notification.entry.id}) }}">{{ notification.entry.shortTitle }}</a></strong>
