{% from 'magazine/_macros.html.twig' import magazine %}
{% from '_layout/_macros.html.twig' import entry_url %}

Moderator usunął twoją treść w {{ magazine(notification.entry.magazine) }} - <strong><a
            href="{{ entry_url(notification.entry) }}">{{ notification.entry.shortTitle }}</a></strong>
