Moderator twój komentarz treść w <small class="text-muted">/m/</small><a
        href="{{ path('front_magazine', {'name': notification.comment.magazine.name }) }}">{{ notification.comment.magazine.name }}</a> - <strong><a
            href="{{ path('entry_single', {'magazine_name': notification.comment.entry.magazine.name, 'entry_id': notification.comment.entry.id}) }}">{{ notification.comment.shortTitle }}</a></strong>
