Moderator usunął twój komentarz w <small class="text-muted">/m/</small><a
        href="{{ path('front_magazine', {'name': notification.comment.post.magazine.name }) }}">{{ notification.comment.post.magazine.name }}</a> -
<strong><a href="{{ path('post_single', {'magazine_name': notification.comment.post.magazine.name, 'post_id': notification.comment.post.id}) }}">{{ notification.comment.post.shortTitle }}</a></strong>
