{% from 'magazine/_macros.html.twig' import magazine %}

Moderator usunął twój wpis w {{ magazine(notification.post.magazine) }} - <strong><a
            href="{{ path('post_single', {'magazine_name': notification.post.magazine.name, 'post_id': notification.post.id}) }}">{{ notification.post.shortTitle }}</a></strong>
