{% from 'magazine/_macros.html.twig' import magazine %}
{% from 'user/_macros.html.twig' import user %}
{% from '_layout/_macros.html.twig' import post_url %}

{{ user(notification.user) }} dodał/a nową odpowiedź w {{ magazine(notification.comment.post.magazine) }} - <strong>
    <a href="{{ post_url(notification.comment.post) }}">{{ notification.comment.post.shortTitle }}</a></strong>
