{% from 'magazine/_macros.html.twig' import magazine %}

Moderator usunął twój komentarz w {{ magazine(notification.comment.post.magazine) }} - <strong><a
            href="{{ path('post_single', {'magazine_name': notification.comment.post.magazine.name, 'post_id': notification.comment.post.id}) }}">{{ notification.comment.post.shortTitle }}</a></strong>
