<div data-controller="subject-list"
     data-action="{{- app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_GENERAL_DYNAMIC_LISTS')) is same as 'true' ? 'notifications:EntryCreatedNotification@window->subject-list#addMainSubject' : 'notifications:EntryCreatedNotification@window->subject-list#increaseCounter' -}}">
    {% include 'layout/_subject_list.html.twig' with {
        attributes: {showMagazineName: not (magazine is defined and magazine)},
        postAttributes: {showCommentsPreview: true}
    } %}
</div>