.comment-add {
  padding: 4px;

  .group {
    margin-bottom: 0;
  }

  &__actions {
    display: flex;
    gap: .5rem;
    justify-content: flex-end;

    i {
      filter: var(--kbin-icon-filter);
    }

    button:hover i {
      filter: var(--kbin-icon-hover-filter);
    }
  }
}

.comment {
  display: grid;
  font-size: .9rem;
  grid-gap: .5rem;
  grid-template-areas: "avatar header vote"
                         "avatar body body"
                         "avatar footer footer";
  grid-template-columns: min-content auto min-content;
  margin: .5rem 0;
  padding: 1rem .5rem;

  header {
    color: var(--kbin-meta-text-color);
    font-size: .8rem;
    grid-area: header;
    margin-bottom: .5rem;
    opacity: .75;

    a {
      color: var(--kbin-meta-text-color);
      font-weight: bold;
    }
  }

  .content {
    p:last-child {
      margin-bottom: 0;
    }
  }

  aside {
    grid-area: vote;
  }

  div {
    grid-area: body;

    p {
      margin-top: 0
    }
  }

  figure {
    grid-area: avatar;
    margin: 0;

    img {
      border: var(--kbin-avatar-border);
    }
  }

  footer {
    grid-area: footer;
    opacity: .75;

    menu {
      column-gap: 1rem;
      display: grid;
      grid-auto-columns: max-content;
      grid-auto-flow: column;
      list-style: none;

      button,
      a {
        font-size: .8rem;
        @include kbin-btn-link;
      }

      li:first-child a {
        padding-left: 0;
      }
    }
  }

  .vote {
    display: flex;
    gap: .5rem;
    justify-content: flex-end;

    button {
      height: 1.2rem;
      width: 4rem;
    }
  }

  &:hover,
  &:focus-visible {
    header, footer {
      -webkit-animation: fadein .5s linear 1 normal forwards;

      @-webkit-keyframes fadein {
        from {
          opacity: .75;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
}

.post-comments {
  blockquote {
    margin: 0;
  }
}
