.kbin-cookies {
  z-index: 1001;
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid $kbin-entry-list-item-border-color;

  .kbin-dark & {
    background: $kbin-dark-entry-list-item-nth-background-color;
    border-top: 1px solid $kbin-dark-entry-list-item-border-color;
    color: #fff !important;
  }
}
