.entry {
  display: grid;
  grid-template-areas: "vote image title"
                       "vote image shortDesc"
                       "vote image meta"
                       "vote image footer"
                       "body body body";
  grid-template-columns: min-content min-content auto;
  padding: 1rem .5rem;
  position: relative;
  z-index: 2;

  &.no-image {
    display: grid;
    grid-template-areas: "vote title"
                       "vote shortDesc"
                       "vote meta"
                       "vote footer"
                       "body body";
    grid-template-columns: min-content auto;
  }

  @include media-breakpoint-down(lg) {
    grid-template-areas: "vote image image"
                       "vote title title"
                       "vote shortDesc shortDesc"
                       "vote meta meta"
                       "vote footer footer"
                       "vote body body";
    grid-template-columns: min-content auto auto;

    &.no-image {
      display: grid;
      grid-template-areas: "vote title"
                       "shortDesc shortDesc"
                       "meta meta"
                       "footer footer"
                       "body body";
      grid-template-columns: min-content auto;

      .vote {
        margin-bottom: 1rem;
      }
    }

    header {
      margin-top: .5rem;
    }

    figure img {
      max-height: 70px;
    }
  }

  @include media-breakpoint-down(sm) {
    header, .meta, menu, .entry__body, .short-desc {
      margin-left: -5rem;
    }

    &.no-image {
      header, .meta, menu, .entry__body, .short-desc {
        margin-left: 0rem;
      }
    }
  }

  &:hover,
  &:focus-visible {
    z-index: 3;
  }

  .vote {
    grid-area: vote;
    margin-right: 1rem;
  }

  figure {
    grid-area: image;
    margin: 0 1rem 0 0;

    img {
      -o-object-fit: none;
      object-fit: none;
    }
  }

  &.no-image {
    figure {
      display: none;
    }
  }

  header {
    grid-area: title;
    margin-bottom: 1rem;

    h2, h1 {
      font-size: 1.1rem;
      font-weight: 600;
      line-height: 1.2;
      margin: 0 0 .5rem;

      a:visited {
        color: var(--kbin-entry-link-visited-color);
      }

      a:hover {
        color: var(--kbin-link-hover-color);
      }
    }

    h1 {
      font-size: 1.3rem;
    }
  }

  .short-desc {
    grid-area: shortDesc;
    margin-bottom: 1rem;

    p {
      font-size: .85rem;
      margin: 0;
    }
  }

  &__body {
    grid-area: body;
    margin-top: 1.5rem;
  }

  &__meta {
    grid-area: meta;
  }

  menu {
    column-gap: 1rem;
    display: grid;
    grid-area: footer;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    list-style: none;
    opacity: .75;

    & > a.active,
    & > li button.active, {
      text-decoration: underline;
    }

    button, input[type='submit'], a {
      @include kbin-btn-link;
    }
  }

  &__domain {
    bottom: .1rem;
    color: var(--kbin-meta-text-color);
    font-size: .7rem;
    position: relative;

    a {
      color: var(--kbin-meta-text-color);
    }
  }

  &:hover,
  &:focus-within {
    menu,
    .entry__meta {
      -webkit-animation: fadein .5s linear 1 normal forwards;

      @-webkit-keyframes fadein {
        from {
          opacity: .75;
        }
        to {
          opacity: 1;
        }
      }
    }
  }

  &--single {
    border-top: 0;
    margin-top: 0;
    padding-bottom: 2rem;
    padding-top: 2rem;

    .entry__body {
      padding: 0 2rem;
      @include media-breakpoint-down(lg) {
        margin-left: -5rem;
      }
      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }
  }
}

.page-entry-create {
  .container {
    margin: 0 auto;
    max-width: 30rem;

    .params {
      display: flex;
      justify-content: space-around;
      margin-bottom: 2.5rem !important;
    }
  }
}
