#footer {
  background: var(--kbin-footer-bg);
  color: var(--kbin-footer-text-color);
  padding: 0;

  .kbin-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    padding: 0.5rem 0rem;

    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  h5 {
    border-bottom: var(--kbin-sidebar-header-border);
    color: var(--kbin-sidebar-header-text-color);
    font-size: 1.1rem;
    margin: 0 0 1rem;
    text-transform: uppercase;
  }

  a {
    color: var(--kbin-footer-link-color);

    &:hover {
      color: var(--kbin-footer-link-hover-color);
    }
  }

  li {
    font-size: .9rem;
    list-style: none;
    padding: .1rem 0;
  }

  section{
    padding: 0rem 1rem;
    margin-bottom: 1rem;
  }

  section:last-child {
    text-align: center;
    margin-bottom: 0;

    menu {
      align-items: baseline;
      display: flex;
      inline-size: max-content;
      margin: 0 auto;
    }

    menu li {
      padding: 1rem;
    }

  }

  .lang-switch {
    select {
      background: var(--kbin-footer-bg);
      color: var(--kbin-footer-text-color) !important;
    }
  }
}

