#header {
  align-items: end;
  background: var(--kbin-header-bg);
  color: var(--kbin-header-text-color);
  display: grid;
  font-size: .85rem;
  grid-template-areas: 'sr-nav brand magazine nav menu';
  grid-template-columns: min-content max-content max-content auto max-content;
  padding: 0 .55rem 0 1.5rem;
  position: relative;

  .login {
    font-weight: normal;
    padding-bottom: .6rem;
  }

  a {
    color: var(--kbin-header-link-color);
    font-weight: bold;

    &:hover {
      color: var(--kbin-header-link-hover-color);
    }
  }

  nav {
    grid-area: nav;
    margin-left: 2rem;
  }

  menu {
    align-items: end;
    display: grid;
    grid-area: menu;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    list-style: none;

    .icon i {
      font-size: .85rem;
    }

    li a {
      border-bottom: 3px solid transparent;
      display: block;
      padding: 1rem 1rem .7rem;
    }

    li a:hover {
      border-bottom: 3px solid #fff;

    }

    li .active {
      border-bottom: 3px solid #fff;
    }
  }

  .sr-nav {
    grid-area: sr-nav;

    a {
      background-color: white;
      border: 0;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      left: 0;
      overflow: hidden;
      padding: .5rem 1rem;
      position: absolute;
      top: 0;
      white-space: nowrap;
      width: 1px;

      &:focus {
        clip: auto;
        color: black;
        height: auto;
        outline: solid 4px darkorange;
        overflow: visible;
        position: absolute;
        white-space: normal;
        width: auto;
      }
    }
  }

  .brand {
    align-self: center;
    font-size: 1.5rem;
    grid-area: brand;
    text-decoration: none;
  }

  .magazine {
    align-self: center;
    grid-area: magazine;
    margin-left: 1rem;
    padding-top: .2rem;

    span {
      color: var(--kbin-header-text-color);
      font-weight: 100;
      opacity: .75;
    }
  }
}
