.kbin-magazine {
  text-align: center;

  header {
    margin-bottom: 1.5rem;

    h4 {
      font-size: 1.5rem;
      margin-bottom: .5rem;
    }
  }

  &_name {
    margin-top: 0;
  }

  &_descirption,
  &_rules {
    text-align: left;

    ul {
      padding-left: 1rem;
      list-style: none;

      li {
        margin-bottom: 1rem;
      }
    }
  }

  .kbin-info,
  .kbin-meta {
    opacity: .75;
  }

  &:hover,
  &:focus-within {
    .kbin-meta,
    .kbin-info,
    .kbin-magazine_subscribe {
      -webkit-animation: fadein .5s linear 1 normal forwards;

      @-webkit-keyframes fadein {
        from {
          opacity: .75;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
}

.kbin-magazine_subscribe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: .75;

  div {
    display: flex;
    flex-direction: row;
    left: 1px;
    position: relative;
    padding: 0.499rem 1rem;
    @include themify($themes) {
      color: themed('textColor');
      border: themed('buttonSecondaryBorder');
    }

    i {
      padding-right: .5rem;
      height: 1.5rem;

      @include themify($themes) {
      }
    }
  }

  button {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  form {
    i {
      &::after {
        height: 1.15em;
      }
    }
  }

  form:last-of-type {
    position: relative;
    right: 1px;
  }

  margin-bottom: 2.5rem;
}
