.kbin-main-menu {
  background-image: linear-gradient(#e5e5e5 0%, $kbin-background 120px);
  z-index: 200;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: .95rem;
  border-bottom: 1px solid $kbin-navbar-border-color;

  .kbin-dark & {
    background-image: linear-gradient(#151515 0%, #202020 120px);
    border-bottom: 1px solid $kbin-dark-navbar-border-color;
  }

  li {
    list-style: none;
  }

  .list-group-item {
    border: 0;
  }

  &-page-view {
    font-size: .95rem;

    li {
      list-style: none;
    }
  }
}

.kbin-featured-magazines-list-item--active {
  a {
    background: $kbin-grey;

    .kbin-dark & {
      background: #131313;
      color: white !important;
    }
  }
}
