.kbin-main-menu {
  background-image: linear-gradient(#e5e5e5 0%, $kbin-background 120px);
  z-index: 200;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: .95rem;
  border-bottom: 1px solid $kbin-navbar-border-color;

  .kbin-dark & {
    background-image: linear-gradient(#151515 0%, #202020 120px);
    border-bottom: 1px solid $kbin-dark-navbar-border-color;
  }

  li {
    list-style: none;
  }

  .list-group-item {
    border: 0;
  }

  &-page-view {
    font-size: .95rem;

    li {
      list-style: none;
    }
  }
}

.kbin-featured-magazines-list-item--active,
.kbin-page-view-item--active {
  background-color: $kbin-topbar-link-active-background-color;

  a {
    background: $kbin-grey;

    &:hover,
    &.highlighted:hover {
      background-color: $kbin-topbar-link-active-background-color;
    }

    &.highlighted {
      background: transparent;
    }

    font-weight: bold;
    color: #556880 !important;
    text-shadow: 0 0 2px #9ab4ca;

    &:hover {
      color: #556880 !important;
      background-color: $kbin-topbar-link-active-background-color;
    }

    .kbin-dark & {
      background: #131313;
      color: white !important;
      background: rgba(0, 0, 0, 0.15);
      border-color: $kbin-dark-navbar-border-color !important;
    }
  }

  .kbin-dark & {
    background: #131313;
    color: white !important;
    background: rgba(0, 0, 0, 0.15);
    border-color: $kbin-dark-navbar-border-color !important;
  }
}
