.pagination {
  color: var(--kbin-meta-text-color);
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: .5rem 0;
  position: relative;
  z-index: 2;
  padding: .5rem;

  a, span {
    padding: .6rem 1rem;
  }

  a {
    font-weight: bold;
  }

  &__item--current-page {
    background-color: var(--kbin-bg);
  }

  @include media-breakpoint-down(sm) {
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 0rem;

    a, span {
      padding: 1rem .5rem;
    }
  }
}
