.post-add {
  .group {
    margin-bottom: 0;
  }

  div {
    margin-bottom: 0;
  }
}

.post {
  display: grid;
  font-size: .9rem;
  grid-gap: .5rem;
  grid-template-areas: "avatar header vote"
                         "avatar body body"
                         "avatar footer footer";
  grid-template-columns: min-content auto min-content;
  margin: .5rem 0;
  padding: 1rem .5rem;
  position: relative;
  z-index: 2;

  &:hover,
  &:focus-visible {
    z-index: 3;
  }

  header {
    color: var(--kbin-meta-text-color);
    font-size: .8rem;
    grid-area: header;
    margin-bottom: 0;
    opacity: .75;

    a {
      color: var(--kbin-meta-text-color);
      font-weight: bold;
    }
  }

  .content {
    p:last-child {
      margin-bottom: 0;
    }
  }

  aside {
    grid-area: vote;
  }

  div {
    grid-area: body;

    p {
      margin-top: 0
    }
  }

  figure {
    grid-area: avatar;
    margin: 0;

    img {
      border: var(--kbin-avatar-border);
    }
  }

  footer {
    grid-area: footer;
    opacity: .75;

    menu {
      column-gap: 1rem;
      display: grid;
      grid-auto-columns: max-content;
      grid-auto-flow: column;
      list-style: none;

      .active {
        font-weight: bold;
      }

      button,
      a {
        font-size: .8rem;
        @include kbin-btn-link;
      }

      li:first-child a {
        padding-left: 0;
      }
    }
  }

  .vote {
    display: flex;
    gap: .5rem;
    justify-content: flex-end;

    button {
      height: 1.2rem;
      width: 4rem;
    }
  }

  &:hover,
  &:focus-visible {
    header, footer {
      -webkit-animation: fadein .5s linear 1 normal forwards;

      @-webkit-keyframes fadein {
        from {
          opacity: .75;
        }
        to {
          opacity: 1;
        }
      }
    }
  }

  &--single {
    border-top: 0;
    margin-top: 0;
    padding-bottom: 2rem;
    padding-top: 2rem;

    .entry__body {
      padding: 0 2rem;
    }
  }
}
