.settings-row {
  display: grid;
  grid-template-areas: "label value" "help value";
  grid-template-columns: auto;
  align-items: center;
  margin-bottom: 1em;
  width: 100%;

  .label {
    margin-right: 1em;
    grid-area: label;
  }

  .help {
    grid-area: help;
    font-size: 0.8em;
    font-weight: 100;
    color: var(--kbin-secondary-text-color);
  }

  .value-container {
    flex-grow: 1;
    text-align: right;
    grid-area: value;
    margin-left: 1em;

    .link-muted.active {
      color: var(--kbin-primary);
      font-weight: 800 !important;
    }

    /** Enum Settings row **/
    .enum {
      border: var(--kbin-button-primary-border);
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
      align-items: center;
      text-align: center;
      background-color: var(--kbin-button-secondary-bg);
      overflow: hidden;
      font-size: 0.8em;

      .rounded-edges & {
        border-radius: var(--kbin-rounded-edges-radius);
      }

      input {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
      }

      .value {
        cursor: pointer;

        span {
          width: 100%;
          height: 100%;
          overflow: hidden;
          display: block;
          padding: 0.5em 0.25em;
          font-weight: 100;
          color: var(--kbin-button-secondary-text-color);
          transition: color 0.25s, background-color 0.25s, font-weight 0.25s;
        }

        &:not(:last-child) span {
          border-right: var(--kbin-button-primary-border);
        }

        &:hover {
          input:checked + span {
            background: var(--kbin-button-primary-hover-bg);
            color: var(--kbin-button-primary-hover-text-color);
          }

          span {
            background: var(--kbin-button-secondary-hover-bg);
            color: var(--kbin-button-secondary-hover-text-color);
          }
        }
      }

      input:checked + span {
        background: var(--kbin-button-primary-bg);
        color: var(--kbin-button-primary-text-color);
        font-weight: 800 !important;
      }
    }

    /** Button Settings row **/
    button {
      background: var(--kbin-button-primary-bg);
      color: var(--kbin-button-primary-text-color);
      border: var(--kbin-button-primary-border);
      cursor: pointer;
      font-size: 0.8em;

      .rounded-edges & {
        border-radius: var(--kbin-rounded-edges-radius);
      }

      &:hover {
        background: var(--kbin-button-primary-hover-bg);
        color: var(--kbin-button-primary-hover-text-color);
      }
    }

    /** Switch Settings row **/
    .switch {
      position: relative;
      display: inline-block;
      width: 3em;
      height: 1.5em;
      overflow: hidden;
      border: var(--kbin-button-primary-border);

      .rounded-edges & {
        border-radius: .75em;
      }

      input {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
      }

      &:hover {
        .slider {
          background-color: var(--kbin-button-secondary-text-hover-color);

          &:before {
            background-color: var(--kbin-button-primary-text-hover-color);
            border-color: var(--kbin-button-primary-text-hover-color);
          }
        }

        input:checked + .slider {
          background-color: var(--kbin-button-primary-hover-bg);
        }

        input:checked + .slider:before {
          background: var(--kbin-button-primary-hover-bg);
        }
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--kbin-button-secondary-text-color);
      transition: .25s;

      &:before {
        position: absolute;
        content: "";
        height: 100%;
        width: 1em;
        left: .25em;
        bottom: 0;
        background-color: var(--kbin-button-primary-text-color);
        transition: .25s;
        border: .4em solid var(--kbin-button-primary-text-color);

        .rounded-edges & {
          border-width: .5em;
          width: fit-content;
          border-radius: .75em;
          left: 0;
          aspect-ratio: 1;
        }
      }
    }

    input:checked + .slider {
      background-color: var(--kbin-button-primary-bg);
    }

    input:checked + .slider:before {
      .rounded-edges & {
        transform: translateX(1.5em);
      }

      transform: translateX(1.35em);
      background: var(--kbin-button-primary-bg);
    }
  }
}