#sidebar {
  font-size: .85rem;
  opacity: 1;
  padding-bottom: 1rem;

  h3 {
    border-bottom: var(--kbin-sidebar-header-border);
    color: var(--kbin-sidebar-header-text-color);
    font-size: .8rem;
    margin: 0 0 1rem;
    text-transform: uppercase;
  }

  figure, blockquote {
    margin: 0;
  }

  .sidebar-options {
    .row {
      display: flex;
      justify-content: space-between;

      div {
        color: var(--kbin-meta-text-color);
        display: inline-block;
        margin-bottom: .5rem;
      }
    }
  }

  .options {
    grid-template-columns: 1fr;

    menu {
      display: flex;

      li {
        flex-grow: 1;
        flex-shrink: 0;
        text-align: center;
      }
    }
  }

  .section {
    padding: .5rem .5rem 1rem;
  }

  .posts,
  .entries {
    color: var(--kbin-meta-text-color);

    .container {
      @include media-breakpoint-down(lg) {
        max-width: 100%;
      }

      @include media-breakpoint-only(md) {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    figure {
      border-bottom: var(--kbin-meta-border);
      margin-bottom: 1rem;
      padding-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }

      .row img {
        height: 100px;
        margin-bottom: .5rem;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
      }

      blockquote {
        border: 0;
        padding: 0;

        a {
          @include kbin-btn-link;
        }

        p:last-of-type {
          margin: 0em;
        }

        div {
          margin-top: 0.5em;
        }
      }

      .more {
        opacity: 0;
      }

      figcaption {
        color: var(--kbin-meta-text-color);
        text-align: right;
      }

      figcaption time {
        display: block;
      }
    }
  }

  .entries blockquote {
    font-weight: bold;
  }

  .meta, .info {
    color: var(--kbin-meta-text-color);
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      border-bottom: var(--kbin-meta-border);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-height: 3rem;
      padding: .5rem;

      position: relative;

      &:first-child {
        border-top: var(--kbin-meta-border);
      }

      span {
        color: var(--kbin-meta-text-color);
      }

      a {
        font-weight: bold;
        padding: 0;
      }

    }
  }

  .user-list {
    ul {
      margin: 0;
      padding: 0;
    }

    ul li {
      align-items: center;
      border-top: var(--kbin-meta-border);
      display: flex;
      list-style: none;
      position: relative;

      &:first-child {
        border-top: 0;
        padding-top: 0;
      }

      &:last-child {
        border-bottom: var(--kbin-meta-border);
      }

      a {
        padding: 0 .5rem;
      }

      img {
        margin: .5rem 0;
      }
    }

    footer {
      opacity: .85;
      padding: .5rem 0;
      position: relative;
      text-align: center;

      a {
        color: var(--kbin-meta-text-color);
      }
    }
  }

  .entry-info,
  .user-info {
    .row {
      h4 {
        font-size: 1rem;
        margin-bottom: 0;
        margin-top: .5rem;
      }

      text-align: center;
    }

    a {
      color: var(--kbin-meta-link-color);
    }

    &_name {
      margin-top: 0;
    }

    figure {
      text-align: center;
    }
  }

  .settings {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
    align-items: flex-end;

    &:last-of-type {
      margin-bottom: 0;
    }

    .theme {
      border: var(--kbin-avatar-border);
      height: 25px;
      width: 25px;

      &.light {
        background: #fafafa;
      }

      &.dark {
        background: #1c1c1c;
      }

      &.kbin {
        background: #34363b;
      }

      &.solarized-light {
        background: #fdf6e3;
      }

      &.solarized-dark {
        background: #093642;
      }

      &.tokyo-night {
        background: #2A2A3C;
      }
    }
  }

  .settings-list {
    color: var(--kbin-meta-text-color);

    strong {
      margin-top: .5rem;
      display: block;
    }

    .row {
      div a {
        font-weight: 100 !important;
      }

      div a.active {
        font-weight: bold !important;
      }
    }
  }

  #settings, #federation {
    display: none;
  }

  #settings:target, #federation:target {
    display: block;
  }

  .active-users {
    > div {
      display: grid;
      gap: .2rem;
      grid-template-columns: repeat(4, 1fr);
      text-align: center;
    }

    img {
      border: var(--kbin-avatar-border);
    }
  }

  //&:hover,
  //&:focus-within {
  //  @include fade-in(.5s, .85);
  //}

  .intro {
    .container {
      background: url('/assets/images/intro-bg.png') no-repeat center 20%;
      background-size: cover;
      color: #ffffff !important;
      font-size: .85rem;
      margin: -.5rem;
      padding: 1rem;

      .rounded-edges & {
        border-radius: .5rem .5rem 0 0;
      }

      h3 {
        border: 0;
        color: white;
        font-size: 1rem;
        font-weight: 500;
        margin: 1rem 0 1rem 0;
        text-transform: none;
      }
    }

    .btn:first-of-type {
      margin-bottom: 1rem;
      margin-top: 2rem;
    }

    .btn {
      .rounded-edges & {
        border-radius: .5rem;
      }

      display: block;
      text-align: center;
      width: 100% !important;
    }
  }

  .kbin-promo {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    position: relative;

    h4 {
      font-size: 1.1rem;
      font-weight: 500;
      margin: 0;
    }

    p {
      font-size: .8rem;
      margin: 0;
    }

    a {
      //font-weight: bold;
      color: var(--kbin-text-color);
    }
  }

  .mobile-close {
    display: none;
  }

  .mobile-nav {
    display: none;
  }

  @include media-breakpoint-down(lg) {
    .mobile-nav {
      display: block;

      li {
        font-size: 1.1rem;
        list-style: none;
        position: relative;
        padding: .85rem 0;
      }

      a {
        color: var(--kbin-meta-link-color);

        &::after {
          bottom: 0;
          content: '';
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 1;
        }
      }

      a.active {
        font-weight: bold;
      }

      .head-title {
        border-bottom: 1px solid var(--kbin-options-text-color);
        font-weight: bold;
        padding-bottom: .5rem;
      }

      .head-title span {
        display: none;
      }
    }
  }
}

#sidebar.open {
  @include media-breakpoint-down(lg) {
    background: var(--kbin-bg);
    height: 100%;
    left: 0;
    overflow: auto;
    padding-bottom: 100px !important;
    padding-top: .5rem !important;
    position: fixed;
    top: 3.25rem;
    width: 100%;
    z-index: 98;

    .topbar & {
      top: 4.5rem;
    }

    .mobile-close {
      display: flex;
      font-size: 1.5rem;
      justify-content: space-between;
      padding: 0.5em;

      button {
        height: auto;
      }
    }
  }
}
