.subjects {
  .post,
  .entry {
    margin-bottom: 0;
    margin-top: .5rem;

    &:first-child {
      margin-top: 0
    }
  }

  .comment {
    margin-bottom: 0;
    margin-top: 0;
  }

  .post-comment {
    margin-left: 1rem;
  }

  > :last-child {
    margin-top: .5rem;
  }
}

.subject {
  .js-container {
    font-size: 1rem;
    margin-top: 1rem;
  }

  &.author {
    border-left: var(--kbin-author-border);
  }

  &.own {
    border-left: var(--kbin-own-border);
  }
}
