.kbin-toast-container {
  z-index: 10000;

  .kbin-toast, .toast-header {
    .kbin-dark & {
      color: #fff !important;
    }

    & .btn-close {
      .kbin-dark & {
        color: #fff !important;
      }
    }
  }
}
