.kbin-toast-container {
  z-index: 10000;

  .kbin-toast, .toast-header {
    .kbin-dark & {
      color: #fff !important;
    }
    & .btn-close {
      .kbin-dark & {
        color: #fff !important;
        filter: invert(1) grayscale(100%) brightness(200%) !important;
      }
    }
  }
}
