.kbin-post-content,
.kbin-comment-content,
.kbin-entry-content,
.kbin-terms-page,
.kbin-privacy-policy-page {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    padding-bottom: .5rem;
    border-bottom: 5px solid $kbin-entry-list-item-nth-background-color;

    .kbin-dark & {
      border-bottom: 5px solid $kbin-dark-entry-list-item-nth-background-color;
    }
  }

  blockquote {
    color: $kbin-vote-up;
    padding-left: 20px;
    border-left: 4px solid $kbin-vote-down;
  }

  pre {
    background: $kbin-entry-list-item-nth-background-color;
    padding: 1rem;

    .kbin-dark & {
      background: $kbin-dark-entry-list-item-nth-background-color;
    }
  }

  table {
    font-size: .7rem;
    margin-bottom: $spacer * .5;;
    margin-top: $spacer * .5;;
  }
}
