@use "sass:list";
@use "sass:map";

.kbin-comment-wrapper {
  &-header {
    border-bottom: 1px solid $kbin-comment-list-item-border-color;
  }

  .kbin-comment {
    font-size: .9rem;
    padding: .6rem .3rem;
    display: flow-root;
    position: relative;

    &:nth-child(even) {
      border-top: 1px solid $kbin-comment-list-item-border-color;
      border-bottom: 1px solid $kbin-comment-list-item-border-color;
      background-color: $kbin-comment-list-item-nth-background-color;
    }

    &-main {
      display: flow-root;

      @include media-breakpoint-down(sm) {
        clear: both;
        padding-top: 1rem;
      }
    }

    &-vote {
      float: right;
      margin-left: .3rem;
      width: 3rem;

      &-list {
        list-style-type: none;
        padding: 0;

        @include media-breakpoint-down(sm) {
          margin-bottom: 0;
        }

        &-item {
          margin: 3px 0;
          background: $kbin-comment-vote-button-background-color;

          button {
            width: 100%;
            border: 0;
            color: #c1c1c1;
            display: block;
            text-align: center;
            font-weight: 700;
            font-size: .7rem;

            &:hover {
              color: $kbin-comment-vote-button-hover-background-color;
            }
          }
        }
      }
    }

    &-image {
      float: left;
      margin-right: .6rem;
      margin-bottom: 0;
      display: table-cell;
      height: 100%;

      @include media-breakpoint-up(sm) {
        padding-top: .5rem;
      }

      img {
        width: 4rem;
      }
    }

    &-main {
      display: flow-root;
    }

    &-meta {
      font-size: .9rem;
      opacity: .8;
      display: inline;

      &:hover {
        opacity: 1;
      }

      &-list {
        &-item {
          margin-right: 0 !important;

          &-links {
            a {
              font-size: .75rem;
              font-weight: bold;
              color: gray;
              margin-right: .5rem;
            }
          }
        }
      }
    }

    &-content {
      display: inline-block;
    }

    &-level {
      $margin-xl: 4.5rem;
      $margin-lg: 1rem;
      $margin-sm: .5rem;

      $levels: ('#ac5353', '#71ac53', '#ffa500', '#538eac', '#6253ac', '#ac53ac', '#ac5353');
      @for $i from 2 to 8 {
        &--#{$i} {
          border-left: .15rem solid unquote(nth($levels, $i));
          margin-left: $margin-lg * ($i - 1);

          @include media-breakpoint-up(xl) {
            margin-left: $margin-xl * ($i - 1);
          }

          @include media-breakpoint-down(sm) {
            margin-left: $margin-sm * ($i - 1);
          }
        }
      }
    }
  }
}
