.kbin-entry {
  padding: .6rem .3rem;
  display: flow-root;
  position: relative;

  &:nth-child(even) {
    border-top: 1px solid $kbin-entry-list-item-border-color;
    border-bottom: 1px solid $kbin-entry-list-item-border-color;
    background-color: $kbin-entry-list-item-nth-background-color;
  }

  &-main {
    display: flow-root;

    @include media-breakpoint-down(sm) {
      clear: both;
      padding-top: 1rem;
    }
  }

  &-vote {
    float: left;
    margin-right: .3rem;
    width: 3rem;

    &-list {
      list-style-type: none;
      padding: 0;

      @include media-breakpoint-down(sm) {
        margin-bottom: 0;
      }

      &-item {
        margin: 3px 0;
        background: $kbin-entry-vote-button-background-color;

        button {
          width: 100%;
          border: 0;
          color: #c1c1c1;
          display: block;
          text-align: center;
          font-weight: 700;
          font-size: .7rem;

          &:hover {
            color: $kbin-comment-vote-button-hover-background-color;
          }
        }
      }
    }
  }

  &-image {
    float: left;
    margin-right: .6rem;
    margin-bottom: 0;
    padding-top: .2rem;
    display: table-cell;
    height: 100%;

    img {
      max-width: 7rem;
    }
  }

  &-main {
    display: flow-root;
  }

  &-title {
    margin-bottom: 5px;
    font-size: 1.4rem;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .kbin-entry-list & {
      font-size: 1rem;
    }
  }

  &-meta {
    font-size: .9rem;
    opacity: .8;

    &:hover {
      opacity: 1;
    }

    &-list {
      &-item {
        margin-right: 0 !important;

        &-links {
          a {
            font-size: .75rem;
            font-weight: bold;
            color: gray;
            margin-right: .5rem;
          }
        }
      }
    }
  }

  &-content {
    display: inline-block;
  }
}

// Create page
.kbin-entry-create-lead {
  @include media-breakpoint-up(lg) {
    max-width: 45rem;
  }
}
