.kbin-entry {
  @include media-breakpoint-down(sm) {
    margin-left: -.8rem;
    margin-right: -.8rem;
    padding-left: .8rem;
    padding-right: .8rem;
  }

  .kbin-related-wrapper & {
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }

  padding: 2rem .3rem;
  display: flow-root;
  position: relative;

  &:nth-child(even) {
    border-top: 1px solid $kbin-entry-list-item-border-color;
    border-bottom: 1px solid $kbin-entry-list-item-border-color;
    background-color: $kbin-entry-list-item-nth-background-color;
    overflow: hidden;

    .kbin-dark & {
      border-top: 1px solid $kbin-dark-entry-list-item-border-color;
      border-bottom: 1px solid $kbin-dark-entry-list-item-border-color;
      background-color: $kbin-dark-entry-list-item-nth-background-color;
    }
  }

  &-main {
    display: flow-root;

    @include media-breakpoint-down(sm) {
      .kbin-has-image & {
        clear: both;
        padding-top: 1rem;
      }
    }
  }

  &-vote {
    float: left;
    margin-right: .3rem;
    width: 3.5rem;

    &-list {
      list-style-type: none;
      padding: 0;

      @include media-breakpoint-down(sm) {
        margin-bottom: 0;
      }

      &-item {
        margin: 3px 0;

        button {
          width: 100%;
          border: 0;
          color: #c1c1c1;
          display: block;
          text-align: center;
          font-weight: 700;
          font-size: .7rem;

          &:hover {
            color: $kbin-comment-vote-button-hover-background-color;
          }
        }
      }
    }
  }

  &-image {
    margin-bottom: 0;
    padding-top: .2rem;
    display: table-cell;
    height: 100%;

    img {
      max-width: 7rem;
    }

    @include media-breakpoint-down(sm) {
      img {
        max-width: 7rem;
      }
    }
  }

  &-main {
    display: flow-root;
  }

  &-title {
    margin-bottom: 5px;
    font-size: 1.4rem;

    .kbin-entry-list & {
      font-size: 1rem;
    }

    &-domain {
      font-size: .7rem;
      position: relative;
      bottom: .1rem;

      .kbin-entry-single & {
        bottom: .2rem;
      }
    }
  }

  &-meta, {
    font-size: .9rem;

    button {
      padding: 0;
      font-size: .75rem;
      font-weight: bold;
      color: gray;
      text-decoration: none;
      margin: 0 .5rem 0 0;
      vertical-align: revert;

      .kbin-dark & {
        color: gray;
      }

      &:hover {
        color: black;

        .kbin-dark & {
          color: $white;
        }
      }
    }

    a {
      &:hover {
        color: black;
      }
    }

    &-list {
      &-item {
        margin-right: 0 !important;

        &-links {
          a {
            font-size: .75rem;
            font-weight: bold;
            color: gray;
            margin-right: .5rem;

            .ada {
              fill: gray !important;

              width: .6rem;

              &:hover {
                fill: black !important;

                .kbin-dark & {
                  fill: $white !important;
                }
              }
            }
          }
        }
      }
    }
  }

  &-content {
    display: block;
    word-break: break-word;
    overflow: hidden;

    img {
      max-width: 35rem;
      max-height: 25rem;

      @include media-breakpoint-down(lg) {
        max-width: 100%;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .kbin-no-image {
      clear: both;
      padding-top: 1rem;
    }
  }
}

// Create page
.kbin-entry-create-lead {
  @include media-breakpoint-up(lg) {
    max-width: 45rem;
  }
}

.kbin-embed {
  //overflow: scroll;

  img {
    max-width: 100%;
  }

  .ratio > * {
    position: absolute !important;
  }
}
