.kbin-featured-magazines {
  z-index: 50;
  height: 1.2rem;
  padding: 0;
  background-color: $kbin-topbar-background-color;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;

  &-list {
    position: relative;
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;

    &-item {
      float: left;

      a {
        color: #fff !important;
        font-size: .7rem;
        padding: .1rem .5rem;
        display: block;

        &:hover,
        &.highlighted:hover {
          background-color: $kbin-topbar-link-hover-background-color;
        }

        &.highlighted {
          background: #556880;
        }
      }

      &--active {
        background-color: $kbin-topbar-link-active-background-color;

        a {
          &:hover,
          &.highlighted:hover {
            background-color: $kbin-topbar-link-active-background-color;
          }

          &.highlighted {
            background: transparent;
          }

          font-weight: bold;
          color: #556880 !important;
          text-shadow: 0 0 2px #9ab4ca;

          &:hover {
            color: #556880 !important;
            background-color: $kbin-topbar-link-active-background-color;
          }
        }
      }
    }
  }
}
