.kbin-about {
  position: relative;
  margin-top: 25vh;

  @include media-breakpoint-down(sm) {
    margin-top: 10vh;
  }

  .row {
    position: relative;
    z-index: 1;
  }

  p, h1, h4 {
    max-width: 800px;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 48px;
    color: #111;
    font-size: 86px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -2.5px;

    @include media-breakpoint-down(md) {
      font-size: 44px;
      line-height: 46px;
      letter-spacing: 0;
    }
  }

  .section1 & {
    padding-bottom: 220px !important;

    @include media-breakpoint-down(sm) {
      padding-bottom: 5vh !important;
    }

    .bg-images {
      left: 140px !important;
      top: 172px !important;
    }
  }

  .section2 & {
    color: white;
    padding-top: 25vh;
    padding-bottom: 220px !important;

    @include media-breakpoint-down(sm) {
      padding-top: 5vh;
      padding-bottom: 5vh !important;
    }

    h1 {
      color: white;
    }

    .bg-images {
      top: 230px !important;
      left: -685px !important;
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }

  .section3 & {
    padding-bottom: 15vh;

    @include media-breakpoint-down(sm) {
      padding-top: 5vh;
      padding-bottom: 5vh !important;
    }

    .bg-images {
      left: 215px !important;
      top: 150px !important;

      img {
        width: 900px;
      }
    }
  }

  .section4 & {
    color: white;
    padding-top: 25vh;
    padding-bottom: 15vh;

    @include media-breakpoint-down(sm) {
      padding-top: 5vh;
      padding-bottom: 5vh !important;
    }

    h1 {
      color: white;
    }

    .bg-images {
      left: -541px;
      opacity: .4;
      top: 200px;

      img {
        width: 500px;
      }
    }
  }

  .section5 & {
    padding-bottom: 15vh;

    @include media-breakpoint-down(sm) {
      padding-top: 5vh;
      padding-bottom: 5vh !important;
    }
  }
}

.bg-images {
  @include media-breakpoint-down(sm) {
    display: none !important;
  }

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section2 {
  background: #6767AB;
}

.section4 {
  background: #0F3BA8;
}
