.kbin-header {
  padding-left: 0;
  padding-right: 0;

  .kbin-nav {
    padding-bottom: 0;
    background-color: $kbin-navbar-background-color;
    border-bottom: 1px solid $kbin-navbar-border-color;

    @include media-breakpoint-up(lg) {
      position: relative;

      .offcanvas {
        flex-direction: row;

        .kbin-dark & {
          background-color: $kbin-navbar-background-color !important;
        }
      }
    }

    @include media-breakpoint-down(lg) {
      .offcanvas {
        margin-left: 0 !important;
        background: $kbin-background;
        padding: $spacer * .5;

        .navbar-nav {
          width: 100%;
          text-align: center;
        }

        .kbin-dark & {
          .btn-close {
            filter: none;
          }
        }
      }
    }

    &-brand, span a {
      font-weight: bold;

      &:hover {
        color: black !important;
      }
    }

    &-navbar {
      font-size: .82rem;

      @include media-breakpoint-up(lg) {
        position: relative;
        bottom: -1px;
      }

      &-item {
        margin-right: 2px;

        a {
          color: $kbin-navbar-link-color !important;
          border: 1px solid transparent;
          display: block;
          font-size: 0.74rem;
          padding: 0.55rem 1rem;
          transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

          @include media-breakpoint-down(lg) {
            padding-left: 5px;
            padding-right: 5px;
          }

          &:hover {
            color: $kbin-navbar-link-hover-color;
            border-color: $kbin-navbar-link-hover-border-color;
            border-radius: 2px 2px 0 0;
          }
        }

        &--active {
          a {
            border: 1px solid $kbin-navbar-link-active-border-color;
            border-radius: 2px 2px 0 0;
          }
        }
      }
    }

    .navbar-toggler {
      font-size: 1rem;
    }
  }
}
