.kbin-header {
  padding-left: 0;
  padding-right: 0;

  .kbin-nav {
    padding-bottom: 0;
    padding-top: 10px;
    background-color: $kbin-navbar-background-color;
    border-bottom: 1px solid $kbin-navbar-border-color;

    .kbin-dark & {
      background-color: $kbin-dark-navbar-background-color !important;
      border-bottom: 1px solid $kbin-dark-navbar-border-color !important;

      button {
        color: $kbin-dark-link-color !important;
      }
    }

    @include media-breakpoint-up(lg) {
      position: relative;

      .offcanvas {
        flex-direction: row;

        .kbin-dark & {
          background-color: $kbin-dark-navbar-background-color !important;
        }
      }
    }

    @include media-breakpoint-down(lg) {
      .offcanvas {
        margin-left: 0 !important;
        background: $kbin-background;
        padding: $spacer * .5;

        .kbin-dark & {
          background-color: $kbin-dark-navbar-background-color !important;
        }

        .navbar-nav {
          width: 100%;
          text-align: center;
        }
      }
    }

    &-brand, span a {
      font-weight: bold;

      .kbin-dark & {
        color: $kbin-dark-link-color !important;
      }

      &:hover {
        color: black !important;

        .kbin-dark & {
          color: white !important;
        }
      }
    }

    &-navbar {
      font-weight: bold;
      font-size: .82rem;

      @include media-breakpoint-up(lg) {
        position: relative;
      }

      .dropdown {
        &-menu {
          width: 770px;
          font-size: .75rem;

          @include media-breakpoint-down(lg) {
            width: 100%;
          }
        }
      }

      &-item {
        margin-right: 2px;

        &--active {
          a, button {
            border: 1px solid $kbin-navbar-link-hover-border-color !important;
            border-radius: 2px 2px 0 0;

            .kbin-dark & {
              border: 1px solid $kbin-dark-navbar-border-color !important;
            }
          }
        }

        a, button {
          color: #252526 !important;
          border: 1px solid transparent;
          display: block;
          font-size: .9rem;
          padding: 0.55rem 1rem;
          transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

          &:hover {
            border-color: $kbin-navbar-link-hover-border-color;
            border-radius: 2px 2px 0 0;

            .kbin-dark & {
              border-color: $kbin-dark-navbar-border-color !important;
            }
          }

          .kbin-dark & {
            color: #dedede !important;
          }
        }
      }
    }

    .navbar-toggler {
      font-size: 1rem;
    }
  }

  .kbin-nav-mobile {
    background-color: $kbin-navbar-background-color;
    border-bottom: 1px solid $kbin-navbar-border-color;

    .kbin-dark & {
      background-color: $kbin-dark-navbar-background-color !important;
      border-bottom: 1px solid $kbin-dark-navbar-border-color !important;
    }
  }

  ul {
    list-style-type: none;
  }
}