$levels: ('#ac5353', '#71ac53', '#ffa500', '#538eac', '#6253ac', '#ac53ac', '#ac5353');
$post-margin-xl: 4.5rem;
$post-margin-lg: 1rem;
$post-margin-sm: .5rem;

.kbin-post-wrapper {
  blockquote {
    margin: 0;
  }

  &-header {
    border-bottom: 1px solid $kbin-comment-list-item-border-color;
  }

  .kbin-post {
    font-size: .9rem;
    padding: .6rem .3rem;
    display: flow-root;
    position: relative;
    overflow: hidden;

    &.kbin-post-list-item {
      border-bottom: 1px solid $kbin-entry-list-item-border-color;

      .kbin-dark & {
        border-bottom: 1px solid $kbin-dark-entry-list-item-border-color;
      }
    }

    a {
      &:hover {
        color: black;
      }
    }

    border-top: 1px solid $kbin-entry-list-item-border-color;
    border-bottom: 1px solid $kbin-entry-list-item-border-color;
    background-color: $kbin-entry-list-item-nth-background-color;

    .kbin-dark & {
      border-top: 1px solid $kbin-dark-entry-list-item-border-color;
      border-bottom: 1px solid $kbin-dark-entry-list-item-border-color;
      background-color: $kbin-dark-entry-list-item-nth-background-color;
    }

    &-mask {
      background: red;
      width: 20px;
      height: 100%;
      top: 0;
      position: absolute;
      left: 0;
    }

    &-list {
      position: relative;
    }

    @for $i from 2 to 8 {
      &-line--#{$i} {
        bottom: 0;
        position: absolute;
        opacity: .4;
        z-index: -100;
        height: 100%;

        border-left: .12rem dashed unquote(nth($levels, $i));
        left: $post-margin-lg * ($i - 1);

        @include media-breakpoint-up(xl) {
          left: $post-margin-xl * ($i - 1);
        }

        @include media-breakpoint-down(sm) {
          left: $post-margin-sm * ($i - 1);
        }
      }
    }


    &-main {
      display: flow-root;

      @include media-breakpoint-down(sm) {
        clear: both;
        padding-top: 1rem;
      }
    }

    &-vote {
      float: right;
      margin-left: .3rem;
      width: 3.5rem;

      &-list {
        list-style-type: none;
        padding: 0;

        @include media-breakpoint-down(sm) {
          margin-bottom: 0;
        }

        &-item {
          margin: 3px 0;
          background: $kbin-comment-vote-button-background-color;

          button {
            width: 100%;
            border: 0;
            color: #c1c1c1;
            display: block;
            text-align: center;
            font-weight: 700;
            font-size: .7rem;

            &:hover {
              color: $kbin-comment-vote-button-hover-background-color;
            }
          }
        }
      }
    }

    &-avatar {
      float: left;
      margin-right: .6rem;
      margin-bottom: 0;
      display: table-cell;
      height: 100%;

      @include media-breakpoint-up(sm) {
        padding-top: .5rem;
      }

      img {
        width: 3rem;
      }
    }

    &-main {
      display: flow-root;
    }

    &-meta {
      font-size: .9rem;
      display: inline;

      button {
        padding: 0;
        font-size: .78rem;
        font-weight: 700;
        color: grey;
        margin: 0 .5rem 0 0;
        text-decoration: none;
        vertical-align: revert;
      }

      &-list {
        display: flow-root;

        &-item {
          margin-right: 0 !important;

          &-links {
            a {
              font-size: .75rem;
              font-weight: bold;
              color: gray;
              margin-right: .5rem;

              &:hover {
                color: initial;
              }
            }
          }
        }
      }
    }

    &-content {
      display: block;
      word-break: break-word;
      overflow: hidden;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .mask {
      position: absolute;
      width: 2px;
      left: -4.7rem;
      top: 0;
      z-index: -100;
      height: 100%;
      border: 2px solid white;
    }

    &-level {
      @for $i from 2 to 8 {
        &--#{$i} {
          border-left: .15rem solid unquote(nth($levels, $i));
          margin-left: $post-margin-lg * ($i - 1);

          @include media-breakpoint-up(xl) {
            margin-left: $post-margin-xl * ($i - 1);
          }

          @include media-breakpoint-down(sm) {
            margin-left: $post-margin-sm * ($i - 1);
          }
        }
      }

      &--last {
        border-left: .15rem solid #ac5353;
        margin-left: $post-margin-lg * (7 - 1);

        @include media-breakpoint-up(xl) {
          margin-left: $post-margin-xl * (7 - 1);
        }

        @include media-breakpoint-down(sm) {
          margin-left: $post-margin-sm * (7 - 1);
        }
      }
    }
  }
}
