[show-more-controller] {
  max-height: 25rem;
  overflow: hidden;
  overflow-y: scroll;
}

.kbin-more {
  font-size: .8rem;
  background: transparent;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  opacity: .5;
  max-width: 600px;
  &:hover {
    opacity: 1;
  }

  .kbin-dark & {
    border: 1px solid white;
    color: white;
  }
}
