[show-more-controller] {
  max-height: 25rem;
  overflow: hidden;
  overflow-y: scroll;
}

.kbin-more {
  background: $primary;
  color: white;
  cursor: pointer;
  opacity: .5;
  max-width: 600px;
  &:hover {
    opacity: 1;
  }

  .kbin-dark & {
    color: black;
  }
}
