.kbin-sidebar {
  @include media-breakpoint-up(lg) {
    .offcanvas {
      z-index: 100;
      visibility: visible !important;
      display: block !important;
      position: relative !important;
      width: auto !important;
      transform: none !important;
      border: none !important;
      background: none !important;
    }
  }

  @include media-breakpoint-down(lg) {
    .offcanvas {
      padding: $spacer * .5;
    }
  }


  .kbin-search {
    &-btn {
      border: 1px solid $kbin-sidebar-button-border-color;
      border-radius: 0 .25rem .25rem 0;
    }
  }

  .kbin-add {
    a {
      border-bottom: 1px solid #c5c5c5;
    }

    &-btn {
      border-bottom: 1px solid $kbin-entry-list-item-border-color;

      .kbin-dark & {
        border-bottom: 1px solid $kbin-dark-entry-list-item-border-color;
      }
    }

    .kbin-quick-links {
      &--hide {
        display: none;
      }

      a.active {
        color: #fff;
      }

      a {
        color: #000;

        &:hover {
          //background: $kbin-navbar-quicklinks-hover-background-color;
        }
      }

      &-heading {
        font-size: 1.1rem;
      }

      &-text {
        font-size: .9rem;
        line-height: 1.3;
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  .kbin-magazine {
    .lead {
      font-size: 1rem;
    }
  }

  .kbin-entry {
    font-size: .9rem;

    &-avatar {
      img {
        width: 6.6rem;
      }
    }
  }

  .kbin-entry-info-user,
  .kbin-post-info-user {
    .card-title {
      font-size: .9rem;
    }
  }
}
