.kbin-sidebar {
  .kbin-search {
    &-btn {
      border: 1px solid $kbin-sidebar-button-border-color;
      border-radius: 0 .25rem .25rem 0;
    }
  }

  .kbin-add {
    .kbin-quick-links {
      &--hide {
        display: none;
      }

      a.active {
        color: #fff;
      }

      a {
        color: #000;

        &:hover {
          //background: $kbin-navbar-quicklinks-hover-background-color;
        }
      }

      &-heading {
        font-size: 1.1rem;
      }

      &-text {
        font-size: .9rem;
        line-height: 1.3;
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  .kbin-magazine {
    .lead {
      font-size: 1rem;
    }

    &-stats {
      font-size: .9rem;
    }
  }

  .kbin-entry {
    font-size: .9rem;

    &-avatar {
      img {
        width: 4rem;
      }
    }
  }

  .kbin-moderators {
    .kbin-avatar {
      max-width: 2rem;
      float: left;
      margin-right: .5rem;
    }
  }
}
