.kbin-vote {
  button {
    background-color: $kbin-entry-vote-button-background-color;

    .kbin-dark & {
      background-color: $kbin-dark-entry-vote-button-background-color;
    }
  }
}

.kbin-vote-uv {
  &--active {
    button {
      color: white !important;
      background: $kbin-vote-up;

      .kbin-dark & {
        background: $kbin-dark-vote-up;
      }

      &:hover {
        color: white !important;
      }
    }
  }
}

.kbin-vote-dv {
  &--active {
    button {
      color: white !important;
      background: $kbin-vote-down;
      .kbin-dark & {
        background: $kbin-dark-vote-down;
      }
      &:hover {
        color: white !important;
      }
    }
  }
}
