.kbin-alert {
  margin: .5rem 0;
  padding: 1rem;

  p {
    margin: 0;
  }

  &__info {
    background: var(--kbin-alert-info-bg);
    border: var(--kbin-alert-info-border);
    color: var(--kbin-alert-info-text-color);

    a {
      color: var(--kbin-alert-info-link-color);
      font-weight: bold;
    }
  }
}
