.alert {
  margin: .5rem 0;
  padding: 1rem;
  position: relative;
  z-index: 2;

  p {
    margin: 0;
  }

  a{
    font-weight: bold;
  }

  &__info {
    background: var(--kbin-alert-info-bg);
    border: var(--kbin-alert-info-border);
    color: var(--kbin-alert-info-text-color);

    a {
      color: var(--kbin-alert-info-link-color);    
    }
  }

  &__danger {
    background: var(--kbin-alert-danger-bg);
    border: var(--kbin-alert-danger-border);
    color: var(--kbin-alert-danger-text-color);

    a {
      color: var(--kbin-alert-danger-link-color);
    }
  }

  &__success {

    background: var(--kbin-alert-success-bg);
    border: var(--kbin-alert-success-border);
    color: var(--kbin-alert-success-text-color);

    a {
      color: var(--kbin-alert-success-link-color);
    }

  }

}
