.kbin-icon {
  &__search {
    &::after {
      content: url('../icons/_search.svg');
      display: block;
      height: 1.2em;
      margin: 0 auto;
      width: 1.2em;
    }
  }

  &__add {
    &::after {
      content: url('../icons/_add.svg');
      display: block;
      height: 1.2em;
      margin: 0 auto;
      width: 1.2em;
    }
  }

  &__channel {
    &::after {
      content: url('../icons/_channel.svg');
      display: block;
      height: 1.2em;
      margin: 0 auto;
      width: 1.2em;
    }
  }

  &__user {
    &::after {
      content: url('../icons/_user.svg');
      display: block;
      height: 1.2em;
      margin: 0 auto;
      width: 1.2em;
    }
  }

  &__clock {
    &::after {
      content: url('../icons/_clock.svg');
      display: block;
      height: 1.2em;
      margin: 0 auto;
      width: 1.2em;
    }
  }

  &__media {
    &::after {
      content: url('../icons/_media.svg');
      display: block;
      height: 1.2em;
      margin: 0 auto;
      width: 1.2em;
    }
  }

  &__layout {
    &::after {
      content: url('../icons/_layout.svg');
      display: block;
      height: 1.2em;
      margin: 0 auto;
      width: 1.2em;
    }
  }

  &__settings {
    &::after {
      content: url('../icons/_settings.svg');
      display: block;
      height: 1.2em;
      margin: 0 auto;
      width: 1.2em;
    }
  }

  &__rss {
    &::after {
      content: url('../icons/_rss.svg');
      display: block;
      height: 1.2em;
      margin: 0 auto;
      width: 1.2em;
    }
  }

  &__bulb {
    &::after {
      content: url('../icons/_bulb.svg');
      display: block;
      height: 1.2em;
      margin: 0 auto;
      width: 1.2em;
    }
  }

  &__fediverse {
    &::after {
      content: url('../icons/_fediverse.svg');
      display: block;
      height: 1.2em;
      margin: 0 auto;
      width: 1.2em;
    }
  }

  &__question {
    &::after {
      content: url('../icons/_question.svg');
      display: block;
      height: 1.2em;
      margin: 0 auto;
      width: 1.2em;
    }
  }

  &__users {
    &::after {
      content: url('../icons/_users.svg');
      display: block;
      height: 1.2em;
      margin: 0 auto;
      width: 1.2em;
    }
  }

  &__block {
    &::after {
      content: url('../icons/_block.svg');
      display: block;
      height: 1.2em;
      margin: 0 auto;
      width: 1.2em;
    }
  }

  &__facebook {
    &::after {
      content: url('../icons/_facebook.svg');
      display: block;
      height: 1.2em;
      margin: 0 auto;
      width: 1.2em;
    }
  }

  &__google {
    &::after {
      content: url('../icons/_google.svg');
      display: block;
      height: 1.2em;
      margin: 0 auto;
      width: 1.2em;
    }
  }
}
