body {
  background: var(--kbin-bg);
  position: relative;
}

#kbin {
  background: var(--kbin-bg);
  overflow: hidden;

  .kbin-container {
    display: grid;
    grid-template-areas: "header header"
                         "main sidebar"
                         "footer footer";
    grid-template-columns: 3fr 1fr;
    margin: 0 auto;
    max-width: 1360px;
  }

  @include media-breakpoint-down(lg) {
    .kbin-container {
      grid-template-areas: "header header"
                          "main main"
                          "sidebar sidebar"
                          "footer footer";
      grid-template-columns: 1fr;
      margin: 0 auto;
    }
  }

  //a:focus-visible,
  //input:focus-visible,
  //button:focus-visible,
  //textarea:focus-visible {
  //  outline-color: darkorange;
  //}

  #header {
    grid-area: header;
    z-index: 12;
  }

  #main {
    grid-area: main;
    padding: 0 .5rem;
    position: relative;

    .fixed-navbar & {
      margin-top: 3.162rem;
    }

    .fixed-navbar.topbar & {
      margin-top: 4.362rem;
    }
  }

  #sidebar {
    grid-area: sidebar;
    padding: 0 .5rem;

    .fixed-navbar & {
      margin-top: 3.162rem;
    }

    .fixed-navbar.topbar & {
      margin-top: 4.362rem;
    }
  }

  #footer {
    grid-area: footer;
    z-index: 5;
  }
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

menu {
  margin: 0;
  padding: 0;
}

.row,
.content {
  overflow: hidden;
  position: relative;
  word-break: break-word;

  a {
    font-size: .85rem;
  }
}

hr {
  border: 1px solid var(--kbin-bg);
}

.content {
  blockquote {
    border-left: 2px solid var(--kbin-success-color);
    margin: 0 0 1rem 1rem;
    padding-left: 1rem;
  }
}

.float-end {
  text-align: right;
}

table {
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: .9em;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  width: 100%;
}

table thead tr {
  font-weight: bold;
  text-align: left;
}

table th,
table td {
  padding: 1.5rem 1rem;
  position: relative;
}

table tbody tr {
  border-bottom: var(--kbin-section-border);
}

table tbody tr:nth-of-type(even) {
  background-color: var(--kbin-bg-nth);
}

.icon {
  font-size: 0;

  i {
    font-size: initial;
  }
}

figure {
  margin: 0;
}

.rounded-edges {
  .section,
  .options,
  .alert,
  figure img,
  input,
  textarea,
  button,
  .ts-wrapper .ts-control {
    border-radius: .5rem;
  }

  .options {
    button {
      border-radius: 0;
    }

    menu {
      border-radius: 0 0 0 .5rem;
    }
  }

  .options--top,
  .section--top {
    border-radius: 0 0 .5rem .5rem;
  }

  .dropdown__menu {
    button {
      border-radius: 0;
    }
  }
}

.dot {
  background: var(--kbin-primary-color);
  border-radius: 50%;
  display: inline-block;
  height: 15px;
  width: 15px;
}

.opacity-50 {
  opacity: .5;
}

.text-right {
  text-align: right !important;
}

.z-5 {
  z-index: 5 !important;
}

.visually-hidden {
  visibility: hidden;
}

.loader {
  animation: rotation 1s linear infinite;
  border: 5px solid var(--kbin-meta-text-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  height: 28px;
  text-align: center;
  width: 28px;

  span {
    visibility: hidden;
  }
}

.danger, .danger i {
  color: var(--kbin-danger-color);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}