body {
  position: relative;
}

#kbin {
  background: var(--kbin-bg);

  #header {
    grid-area: header;
    padding: 0 .5rem;
    z-index: 5;
  }

  #main {
    grid-area: main;
    padding: 0 .5rem;
    position: relative;
  }

  #sidebar {
    grid-area: sidebar;
    padding: 0 .5rem;
  }

  #footer {
    grid-area: footer;
    z-index: 5;
  }

  .kbin-container {
    display: grid;
    grid-template-areas: "header header"
                         "main sidebar"
                         "footer footer";
    grid-template-columns: 3fr 1fr;
    margin: 0 auto;
    max-width: 1360px;
  }
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

menu {
  margin: 0;
  padding: 0;
}

.group,
.content {
  overflow: hidden;
  position: relative;
}

hr {
  border: 1px solid var(--kbin-bg);
}

.content {
  blockquote {
    border-left: 2px solid red;
    margin: 0 0 1rem 1rem;
    padding-left: 1rem;
  }
}