.meta {
  color: var(--kbin-meta-text-color);
  font-size: .8rem;
  opacity: .75;

  a {
    color: var(--kbin-meta-link-color);
    font-weight: bold;
    padding: .5rem 0;
    margin-left: 0.25rem;

    &:hover {
      color: var(--kbin-meta-link-hover-color);
    }
    
    &:first-of-type{
      margin-left: 0rem;
    }
  }
}

.meta-link {
  color: var(--kbin-meta-link-color);
}
