.stretched-link {
  &::after {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

.link-muted,
.text-muted {
  color: var(--kbin-meta-text-color) !important;
  font-weight: normal !important;

  &:hover {
    color: var(--kbin-meta-text-color) !important;
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 1rem !important;
}

.table-responsive {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}
