#tools {
  .header-bg {
    background: var(--kbin-header-bg);
    height: 2.861rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  .footer-bg {
    background: var(--kbin-footer-bg);
    bottom: 0;
    height: 21rem;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
  }
}

.stretched-link {
  &::after {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

.link-muted {
  color: var(--kbin-meta-text-color) !important;
  font-weight: normal !important;

  &:hover {
    color: var(--kbin-meta-text-color) !important;
  }
}
