:root {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 62.5%;
}

a {
  @include themify($themes) {
    color: themed('entryLinkColor');

  }
  text-decoration: none;

  @include themify($themes) {
    color: themed('linkColor');

    &:hover {
      color: themed('linkColorHover');
    }
  }
}

p {
  @include themify($themes) {
    color: themed('textColor');
  }
}

article,
blockquote {
  p,li {
    line-height: 2.2rem;
  }
}
