{% if magazine.apProfileId %}
    <div class="alert alert-dark text-muted" role="alert">
        {{ 'federated_magazine_info'|trans }} <a rel="nofollow noopener noreferrer" href="{{ magazine.apProfileId }}"
                                                 class="font-weight-bold">{{ 'go_to_original_instance'|trans }}</a>
    </div>
{% endif %}