<div class="row kbin-masonry">
    {% for magazine in magazines %}
        <div class="col-md-6 col-lg-6 mb-5 kbin-masonry-item">
            {{ component('magazine', {magazine: magazine}) }}
        </div>
    {% endfor %}
</div>

{% if(magazines.haveToPaginate) %}
    {{ pagerfanta(magazines, null, {'pageParameter':'[p]'}) }}
{% endif %}
