{% for magazine in magazines %}
    <div class="px-lg-5 mx-lg-5 row mb-5">
        <div class="px-lg-5">
            <div class="px-lg-5">
                {{ component('magazine', {magazine: magazine}) }}
            </div>
        </div>
    </div>
{% endfor %}

{% if(magazines.haveToPaginate) %}
    {{ pagerfanta(magazines, null, {'pageParameter':'[p]'}) }}
{% endif %}
