{% from 'user/_macros.html.twig' import user %}

<div class="table-responsive">
    <table class="table align-middle">
        <thead>
        <tr>
            <td>Login</td>
            <td>Dodno</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for moderator in moderators %}
            <tr>
                <td>{{ user(moderator.user) }}</td>
                <td>{{ moderator.createdAt|ago }}</td>
                <td>{% include 'user/_follow_button.html.twig' with {'user': moderator.user} %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% if(moderators.haveToPaginate) %}
    {{ pagerfanta(moderators, null, {'pageParameter':'[strona]'}) }}
{% endif %}
