{% if magazine.getVisibility() is same as 'soft_deleted' %}
    <div class="alert alert__danger">
        <p>{{ 'magazine_is_deleted'|trans({
                '%link_target%': path('magazine_panel_general', {'name': magazine.name})
            })|raw }}</p>
    </div>
{% endif %}