{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="font-weight-bold">Utwórz nowy magazyn</h1>
    <p class="lead mb-4">Magazyn jest zbiorem treści o podobnej tematyce. Twórz społeczność i gromadź wokół niej użytkowników o podobnych
        zainteresowaniach. Na tobie będzie spoczywać odpowiedzialność za dbanie o jego jakość.</p>
    {{ form(form) }}

{% endblock %}
