{% extends 'base.html.twig' %}

{% block title %}{{ magazine.title }} | m/{{ magazine.name }} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="kbin-magazine-page">
        {% include 'entry/_list.html.twig' %}
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {% include 'magazine/_sidebar.html.twig' %}
{% endblock %}
