{% extends 'base.html.twig' %}

{% block title %}{{ 'topbar.all_magazines'|trans }}{% endblock %}

{% block body %}
    <div class="kbin-magazines-list-page mt-lg-4">
        {% include'magazine/_list_cards.html.twig' %}
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
