{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'magazines'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-magazines{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    <header>
        <h1 hidden>{{ 'magazines'|trans }}</h1>
    </header>
    {% include 'magazine/_options.html.twig' %}
    <div id="content">
        {% include 'magazine/_list.html.twig' %}
    </div>
{% endblock %}
