{% extends 'base.html.twig' %}

{% block title %}{{ 'moderators'|trans }}{% endblock %}

{% block body %}
    <div class="kbin-moderators-page">
        {% include 'magazine/_moderators_list_table.html.twig' %}
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {% include 'magazine/_sidebar.html.twig' %}
{% endblock %}
