.theme--dark {
  .ts-dropdown {
    background: var(--kbin-input-bg);
    border-color: #373737;
    color: var(--kbin-meta-text-color);

    .active {
      background: var(--kbin-options-bg);
      color: var(--kbin-meta-text-color);
    }
  }

  --kbin-body-font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --kbin-body-font-size: 1rem;
  --kbin-body-font-weight: 400;
  --kbin-body-line-height: 1.5;
  --kbin-body-text-align: left;
  --kbin-body-bg: #1c1c1c;

  --kbin-bg: #1c1c1c;
  --kbin-bg-nth: #232323;

  --kbin-text-color: #cacece;
  --kbin-link-color: #cdd5de;
  --kbin-link-hover-color: #fafafa;
  --kbin-outline: #ff8c00 solid 4px;

  --kbin-primary-color: #3c3c3c;
  --kbin-text-muted-color: #95a6a6;

  --kbin-success-color: #0f5132;
  --kbin-danger-color: #842029;

  // section
  --kbin-section-bg: #2c2c2c;
  --kbin-section-text-color: var(--kbin-text-color);
  --kbin-section-link-color: var(--kbin-link-color);
  --kbin-section-link-hover-color: var(--kbin-link-hover-color);
  --kbin-section-border: 1px solid #373737;
  --kbin-author-border: 1px dashed var(--kbin-danger-color);
  --kbin-own-border: 1px dashed var(--kbin-success-color);

  // meta
  --kbin-meta-bg: none;
  --kbin-meta-text-color: #cecece;
  --kbin-meta-link-color: #d9dde5;
  --kbin-meta-link-hover-color: var(--kbin-link-hover-color);
  --kbin-meta-border: 1px dashed #4d5052;
  --kbin-avatar-border: 3px solid #373737;

  // options
  --kbin-options-bg: #2c2c2c;
  --kbin-options-text-color: #95a5a6;
  --kbin-options-link-color: #cdd5de;
  --kbin-options-link-hover-color: #e1e5ec;
  --kbin-options-border: 1px solid #373737;
  --kbin-options-link-hover-border: 3px solid #e1e5ec;

  // forms
  --kbin-input-bg: #1c1c1c;
  --kbin-input-text-color: var(--kbin-text-color);
  --kbin-input-border: 1px solid #373737;

  // buttons
  --kbin-button-primary-bg: var(--kbin-primary-color);
  --kbin-button-primary-hover-bg: #333333;
  --kbin-button-primary-text-color: #fff;
  --kbin-button-primary-text-hover-color: #fff;
  --kbin-button-primary-border: 1px solid #4a4a4a;

  --kbin-button-secondary-bg: #1c1c1c;
  --kbin-button-secondary-hover-bg: #282828;
  --kbin-button-secondary-text-color: var(--kbin-meta-text-color);
  --kbin-button-secondary-text-hover-color: var(--kbin-text-color);
  --kbin-button-secondary-border: 1px dashed #373737;

  // header
  --kbin-header-bg: var(--kbin-primary-color);
  --kbin-header-text-color: #fff;
  --kbin-header-link-color: #fff;
  --kbin-header-link-hover-color: #e8e8e8;
  --kbin-header-link-active-bg: var(--kbin-options-bg);
  --kbin-header-border: 1px solid #e5eaec;
  --kbin-header-hover-border: 3px solid #fff;

  // topbar
  --kbin-topbar-bg: var(--kbin-section-bg);
  --kbin-topbar-active-bg: #fff;
  --kbin-topbar-active-link-color: #000;
  --kbin-topbar-hover-bg: #282828;
  --kbin-topbar-border: 1px solid #4d5052;

  //sidebar
  --kbin-sidebar-header-text-color: #909ea2;
  --kbin-sidebar-header-border: 1px solid #4a4a4a;

  //vote
  --kbin-vote-bg: #1c1c1c;
  --kbin-vote-text-color: #b6b6b6;
  --kbin-vote-text-hover-color: #fafafa;

  // alerts
  --kbin-alert-info-bg: #fff3cd;
  --kbin-alert-info-border: 1px solid #ffe69c;
  --kbin-alert-info-text-color: #997404;
  --kbin-alert-info-link-color: #997404;

  --kbin-alert-danger-bg: #f8d7da;
  --kbin-alert-danger-border: 1px solid #f5c2c7;
  --kbin-alert-danger-text-color: var(--kbin-danger-color);
  --kbin-alert-danger-link-color: var(--kbin-danger-color);

  //entry
  --kbin-entry-link-visited-color: #8e939b;

  // footer
  --kbin-footer-bg: var(--kbin-primary-color);
  --kbin-footer-text-color: #fff;
  --kbin-footer-link-color: #fff;
  --kbin-footer-link-hover-color: var(--kbin-header-link-hover-color);
}
