$kbin-link-color: #346a98;
$kbin-link-hover-color: #23527c;
$kbin-link-visited-color: #6a87a0;

$kbin-grey: #f7f7f7;
$kbin-grey-shadow: #eaeaea;

$kbin-blue: #556880;
$kbin-blue-shadow: #414f61;

$kbin-nav-link-color: #346a98;

$kbin-vote-button-color: #efefef;
