$link-color: #346a98;
$link-hover-color: #23527c;
$primary: #556880;

@import "~bootstrap/scss/bootstrap";

svg.ada {
  fill: $body-color;
  width: 1.5rem;

  .kbin-dark & {
    fill: #d4d4d4;
  }
}

@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~choices.js/public/assets/styles/choices.min.css";
@import "~simplemde/dist/simplemde.min.css";
@import "variables";
@import "components/darkstyle";
@import "components/user_content";
@import "components/toast";
@import "components/featured-magazines";
@import "components/cookies";
@import "components/user_popup";
@import "components/media";
@import "components/navbar";
@import "components/footer";
@import "components/sidebar";
@import "components/magazine";
@import "components/entry";
@import "components/comment";
@import "components/post";
@import "components/vote";
@import "components/sub_buttons";
@import "components/datepicker";
@import "components/profile";
@import "components/show-more";
@import "components/landing";

#kbin {
  padding-top: 1.7rem;
  //background: url(../images/shape.png) center center;
  background-image: linear-gradient(#e5e5e5 0%, $kbin-background 100%);
  height: 100px;

  .kbin-dark & {
    background: none;
  }
}

.kbin-container {
  @include media-breakpoint-down(lg) {
    position: relative;
  }

  .kbin-main {
    @include media-breakpoint-up(lg) {
      position: relative;
    }
  }
}

.kbin-magazine-background {
  background: url("../images/create-magazine-bg.png") no-repeat top right;
  background-size: 50%;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;

  .kbin-dark & {
    background-image: none;
  }

  @include media-breakpoint-down(xxl) {
    opacity: .1;
  }

  @include media-breakpoint-up(lg) {
    top: -1rem;
    right: -1.5rem;
  }
}

.kbin-cardano-background {
  background: url("../images/ada.png") no-repeat 90% 20%;
  background-size: 40%;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .7;

  @include media-breakpoint-down(lg) {
    opacity: .1;
  }

  @include media-breakpoint-down(lg) {
    bottom: 0;
    right: 0;
  }
}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-light {
  font-weight: 200;
}

.choices__inner {
  background: initial;
  font-size: initial;
}

.nav-tabs {
  font-size: small;
}

.kbin-avatar {
  margin: 0 auto;
  max-width: 6.6rem;
}

.CodeMirror,
.CodeMirror-scroll {
  min-height: 100px !important;
}

.display-none {
  display: none !important;
}

.link-to-title {
  text-decoration: none;
}

.kbin-logo-color {
  color: #6c757d !important;
}

a {
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important;
  }
}

.kbin-link-block {
  //pointer-events: none;
}

.spinner-border {
  width: 1rem;
  height: 1rem;
}

.scroll-progress {
  height: 1.4rem;
  position: fixed;
  z-index: 1000;
}

.loading-cursor {
  cursor: progress;
}

.opacity-50 {
  opacity: .5;
}

.choices__list--dropdown {
  z-index: 100;
}

.choices[data-type*=select-one] .choices__input {
  .kbin-dark & {
    background-color: #1f1f1f;
  }
}

.choices__inner,
.choices.is-disabled .choices__inner, .choices.is-disabled .choices__input {
  background: #fff;

  .kbin-dark & {
    background: #1f1f1f;
  }
}

.btn-link {
  text-decoration: none;
  background: none;
}

.turbo-progress-bar {
  background-color: $kbin-grey !important;
}

hr {
  height: 5px !important;
  color: $kbin-entry-list-item-border-color;

  .kbin-dark & {
    color: $kbin-dark-entry-list-item-border-color;
  }
}

thead, tbody {
  border-bottom: 5px solid $kbin-entry-list-item-border-color;

  .kbin-dark & {
    border-bottom: 5px solid $kbin-dark-entry-list-item-border-color;
  }
}

.kbin-users {
  .kbin-avatar {
    max-width: 2rem;
    float: left;
    margin-right: .5rem;
  }
}

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.kbin-embed, .kbin-embed-container {
  display: block;
}

.accordion-item {
  background: none;
}

.nav-pills .active {
  color: white !important;
  background-image: var(--bs-gradient) !important;
}

.choices__list--multiple .choices__item {
  background-color: $primary !important;
  border: 0 !important;
}

.choices[data-type*=select-multiple] .choices__button, .choices[data-type*=text] .choices__button {
  border-color: $kbin-blue-shadow;
}

.choices__input {
  background: none !important;
}

.choices__input {
  .kbin-dark & {
    color: white;
  }
}

.offcanvas {
  @include media-breakpoint-down(lg) {
    overflow:auto;
  }

  .kbin-dark & {
    background: $kbin-dark-background;
  }
}
