{% extends 'base.html.twig' %}

{% block title %}{{ 'awards'|trans }}{% endblock %}

{% block body %}
    <div class="kbin-award-list-page">
        <div>
            award
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
