<div class="my-5 text-center">
    <h1 class="display-1 link-danger font-weight-bold">+18</h1>
    <p><a href="{{ path('user_profile_settings') }}">Zmień preferencje</a> wyświetlania treści dla dorosłych</p>
</div>

