<ul class="nav nav-tabs justify-content-end mb-2">
    <li class="nav-item">
        <a class="nav-link active text-decoration-none text-muted" aria-current="page" href="#"><i class="fas fa-history"></i> ∞</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active text-decoration-none text-muted" aria-current="page" href="#"><i class="fas fa-photo-video"></i> wszystko</a>
    </li>
    <li class="nav-item">
        <a data-action="kbin#dark" class="nav-link active text-decoration-none text-muted" aria-current="page" href="#"><i class="far fa-lightbulb"></i></a>
    </li>
</ul>
