<div class="container kbin-users kbin-favourites">
    {% for row in favourites|batch(2, null) %}
        <div class="row mb-1">
            {% for favourite in row %}
                <div class="col-12 col-md-6">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                {% if favourite is not null %}
                                    <div class="d-flex bd-highlight">
                                        {% include 'user/_avatar.html.twig' with { user: favourite.user } %}
                                        <a class="text-decoration-none stretched-link align-self-center flex-grow-1"
                                           href="{{ path('user', {'username': favourite.user.username}) }}">{{ favourite.user.username }}</a>
                                        <small class="text-muted align-self-center px-2">
                                            <time data-controller="timeago"
                                                  data-timeago-refresh-interval-value="10000"
                                                  data-timeago-datetime-value="{{ subject.createdAt|date('c') }}">{{ subject.createdAt|ago }}</time>
                                        </small>
                                        <span class="fa fa-heart float-end align-self-center text-danger"></span>
                                    </div>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
