{% for label, messages in app.flashes %}
    <div class="mt-2">
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message|trans }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
{% endfor %}

{% if is_sub_page() %}
    {% include '_layout/_new_account_sub_info.html.twig' %}
{% endif %}
