<footer class="container-fluid footer mt-auto py-3 kbin-footer">
    <div class="kbin-container container">
        <div class="row">
            <div class="col-sm">
                <ul class="list-unstyled">
                    <li><a href="#">O instancji</a></li>
                    <li><a href="#">Log moderatorski</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Devlog</a></li>
                </ul>
            </div>
            <div class="col-sm">
                <ul class="list-unstyled">
                    <li><a href="#">Polityka prywatności</a></li>
                    <li><a href="#">Regulamin</a></li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
            </div>
            <div class="col-sm">
                <ul class="list-unstyled">
                    <li><a href="#">Kod</a></li>
                    <li><a href="#">Federacja</a></li>
                    <li><a href="#">Dokumentacja</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
