<footer class="container-fluid footer mt-auto py-3 kbin-footer mt-5">
    <div class="kbin-container container small">
        <div class="row">
            <div class="col-sm-2">
                <h5 class="text-muted font-weight-bold">karab.in</h5>
                <ul class="list-unstyled">
                    <li><a href="#">O instancji</a></li>
                    <li><a href="#">Devlog</a></li>
                    <li><a href="{{ path('modlog') }}">Log moderatorski</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5 class="text-muted font-weight-bold">przydatne</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Lista magazynów</a></li>
                    <li><a href="#">Odznaczenia</a></li>
                    <li><a href="#">Ranking</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5 class="text-muted font-weight-bold">pomoc</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Polityka prywatności</a></li>
                    <li><a href="#">Regulamin</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5 class="text-muted font-weight-bold">kbin</h5>
                <ul class="list-unstyled">
                    <li><a href="https://kbin.pl">Kod</a></li>
                    <li><a href="https://kbin.pl">Federacja</a></li>
                    <li><a href="https://kbin.pl">Narzędzia</a></li>
                    <li><a href="https://kbin.pl">Dokumentacja</a></li>
                </ul>
            </div>

            <div class="col-sm-4 text-center">
                    <p class="text-muted align-text-bottom pt-5">© 2021 karab.in</p>
            </div>
        </div>
    </div>
</footer>
