<div class="kbin-instance mt-lg-0 px-2">
    <h4 class="font-weight-bold kbin-logo-color">{{ kbin_domain }}</h4>
    <p class="small">{{ 'about_2'|trans({'%name%': kbin_domain}) }}
    <p class="small">{{ 'about_3'|trans }}</p>

    <div class="card mb-3" data-controller="online">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span class="text-muted">Online:</span> <span data-online-target="counter">-</span>
            </li>
        </ul>
    </div>

    <div class="alert alert-danger small">{{ 'about_note'|trans }}</div>
</div>
