<div class="kbin-main-menu visually-hidden mt-5 mt-lg-0" data-kbin-target="topBar">
    <div class="px-4 py-5 my-5">
        <div class="mx-auto">
            <div class="container">
                <div class="row">
                    <h3 class="pb-3">
                        <a class="font-weight-bold" href="{{ path('magazine_list_all') }}">{{ 'topbar.all_magazines'|trans }} <i class="small fa-solid fa-arrow-right"></i></a>
                    </h3>
                    {{ component('featured_magazines', {magazine: magazine is defined ? magazine : null}) }}
                </div>
            </div>
        </div>
    </div>
</div>
