{% block navbar_link %}
    <li class=" kbin-nav-navbar-item {{ is_active_sort_option(sortBy) ? 'kbin-nav-navbar-item--active' : '' }}">
        <a href="{{ get_active_sort_option_path(sortBy) }}">{{ name }}</a>
    </li>
{% endblock %}
