{%- macro not_found(type, options) -%}
    {%- with {
        type: type,
        } only -%}
        {{ block('not_found') }}
    {%- endwith -%}
{%- endmacro -%}

{% block not_found %}
    {% if is_entry_page() or is_post_page() %}
        <div class="text-center py-5 text-muted">
            <p class="display-4">
                brak komentarzy
            </p>
        </div>
    {% elseif (is_magazine_page() or is_sub_page() or is_homepage()) and not is_magazine_panel_page() %}
        <div class="text-center py-5 text-muted">
            <p class="display-4">
                brak treści
            </p>
            <p class="fs-5 mt-2">
                dodaj nowy <a class="fw-bolder" href="{{ path('entry_create', { type: 'link' }) }}">link</a> lub <a href="{{ path('entry_create') }}"
                                                                                                                    class="fw-bold">artykuł</a>
            </p>
        </div>
    {% else %}
        <div class="text-center py-5 text-muted">
            <p class="display-4">
                nie znaleziono
            </p>
        </div>
    {% endif %}
{% endblock %}
