<div class="kbin-search mb-3 mt-5 mt-lg-0">
    <form>
        <div class="input-group input-group-btn">
            <input type="text" name="szukaj" class="form-control" placeholder="Wpisz szukaną frazę...">
            <span class="input-group-btn">
        <button class="kbin-search-btn btn btn-default" type="submit">Szukaj</button>
      </span>
        </div>
    </form>
</div>

<div class="kbin-add d-grid gap-2" data-controller="sidebar-add"
     data-sidebar-add-hide-class="visually-hidden">
    <button type="button"
            class="btn btn-primary btn-lg mb-1 kbin-add-btn"
            data-sidebar-add-target="showButton"
            data-action="click->sidebar-add#toggle">
        Dodaj nowy
    </button>

    <button type="button" class="btn-close visually-hidden" aria-label="Close"
            data-sidebar-add-target="closeButton"
            data-action="click->sidebar-add#toggle"></button>


    <div class="kbin-quick-links list-group visually-hidden"
         data-sidebar-add-target="quickLinks">
        <a href="{{ path('entry_create', { type: 'link' }) }}" class="list-group-item">
            <h4 class="kbin-quick-links-heading list-group-item-heading font-weight-light">Dodaj nowy link</h4>
            <p class="kbin-quick-links-text list-group-item-text text-muted">Podziel się ciekawym linkiem lub fotografią.</p>
        </a>

        <a href="{{ path('entry_create', { type: 'artykul' }) }}" class="list-group-item">
            <h4 class="kbin-quick-links-heading list-group-item-heading font-weight-light">Dodaj nowy artykuł</h4>
            <p class="kbin-quick-links-text list-group-item-text text-muted">Napisz artykuł lub wiadomość tekstową.</p>
        </a>

        <a href="/łęcka" class="list-group-item">
            <h4 class="kbin-quick-links-heading list-group-item-heading font-weight-light">Dodaj post na mikroblogu</h4>
            <p class="kbin-quick-links-text list-group-item-text text-muted">Napisz krótki wpis lub notatkę.</p>
        </a>

        <a href="{{ path('magazine_create') }}" class="list-group-item">
            <h4 class="kbin-quick-links-heading list-group-item-heading font-weight-light">Dodaj nowy magazyn</h4>
            <p class="kbin-quick-links-text list-group-item-text text-muted">Utwórz i zarządzaj magazynem tematycznym.</p>
        </a>
    </div>
</div>
