{% block body %}
    <div class="kbin-toast toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="9000">
        <div class="d-flex">
            <div class="toast-body">
                {{ block(notification.type) }}
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
{% endblock %}

{% if false %}
    {% block entry_notification %}
        {% include 'user/profile/notification/_entry_notification.html.twig' %}
    {% endblock entry_notification %}

    {% block post_notification %}
        {% include 'user/profile/notification/_post_notification.html.twig' %}
    {% endblock post_notification %}

    {% block message_notification %}
        {% include 'user/profile/notification/_message_notification.html.twig' %}
    {% endblock message_notification %}
{% endif %}
