{% use 'user/profile/_notifications.html.twig' %}

{% block body %}
    <div class="kbin-toast toast align-items-center mt-auto" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="15000">
            {{ block(notification.type) }}
    </div>
{% endblock %}
