{% block body %}
    <div class="kbin-toast toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="15000">
        <div class="d-flex">
            <div class="toast-body">
                {{ block(notification.type) }}
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
{% endblock %}

{% if false %}
    {% block entry_created_notification %}
        {% include 'user/profile/notification/_entry_created_notification.html.twig' %}
    {% endblock entry_created_notification %}

    {% block entry_comment_created_notification %}
        {% include 'user/profile/notification/_entry_comment_created_notification.html.twig' %}
    {% endblock entry_comment_created_notification %}

    {% block entry_comment_reply_notification %}
        {% include 'user/profile/notification/_entry_comment_reply_notification.html.twig' %}
    {% endblock entry_comment_reply_notification %}

    {% block post_created_notification %}
        {% include 'user/profile/notification/_post_created_notification.html.twig' %}
    {% endblock post_created_notification %}

    {% block post_comment_created_notification %}
        {% include 'user/profile/notification/_post_comment_created_notification.html.twig' %}
    {% endblock post_comment_created_notification %}

    {% block post_comment_reply_notification %}
        {% include 'user/profile/notification/_post_comment_reply_notification.html.twig' %}
    {% endblock post_comment_reply_notification %}

    {% block message_notification %}
        {% include 'user/profile/notification/_message_notification.html.twig' %}
    {% endblock message_notification %}

    {% block magazine_ban_notification %}
        {% include 'user/profile/notification/_ban_notification.html.twig' %}
    {% endblock magazine_ban_notification %}
{% endif %}
