<div class="container kbin-users kbin-voters">
    {% for row in votes|batch(2, null) %}
        <div class="row mb-1">
            {% for vote in row %}
                <div class="col-12 col-md-6">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                {% if vote is not null %}
                                    {% include 'user/_avatar.html.twig' with { user: vote.user } %}<span class="text-muted">/u/</span><a
                                        class="text-decoration-none stretched-link"
                                        href="{{ path('user', {'username': vote.user.username}) }}">{{ vote.user.username }}</a>
                                    <small class="text-muted">
                                        <time data-controller="timeago"
                                              data-timeago-refresh-interval-value="10000"
                                              data-timeago-datetime-value="{{ subject.createdAt|date('c') }}">{{ subject.createdAt|ago }}</time>
                                    </small>
                                    {% if vote.choice is same as 1 %}
                                        <span class="fa fa-arrow-up float-end kbin-color-up-vote"></span>
                                    {% else %}
                                        <span class="fa fa-arrow-down float-end kbin-color-down-vote"></span>
                                    {% endif %}
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
