<footer class="container-fluid footer mt-auto py-3 kbin-footer">
    <div class="kbin-container container">
        <ul>
            <li>
                <vue-test></vue-test>
            </li>
            <li>
                <span data-controller="test"></span>
            </li>
        </ul>
    </div>
</footer>
