<div class="kbin-search mb-3">
    <form>
        <div class="input-group input-group-btn">
            <input type="text" name="szukaj" class="form-control" placeholder="Wpisz szukaną frazę...">
            <span class="input-group-btn">
        <button class="kbin-search-btn btn btn-default" type="submit">Szukaj</button>
      </span>
        </div>
    </form>
</div>

<div class="kbin-quick-links list-group">
    <a href="#" class="list-group-item">
        <h4 class="kbin-quick-links-heading list-group-item-heading">Dodaj nowy link</h4>
        <p class="kbin-quick-links-text list-group-item-text text-muted">Podziel się ciekawym linkiem.</p>
    </a>

    <a href="#" class="list-group-item">
        <h4 class="kbin-quick-links-heading list-group-item-heading">Dodaj nowy artykuł</h4>
        <p class="kbin-quick-links-text list-group-item-text text-muted">Napisz artykuł lub wiadomość tekstową.</p>
    </a>

    <a href="#" class="list-group-item">
        <h4 class="kbin-quick-links-heading list-group-item-heading">Dodaj post na mikroblogu</h4>
        <p class="kbin-quick-links-text list-group-item-text text-muted">Napisz krótki wpis lub notatkę.</p>
    </a>

    <a href="#" class="list-group-item">
        <h4 class="kbin-quick-links-heading list-group-item-heading">Dodaj nowy magazyn</h4>
        <p class="kbin-quick-links-text list-group-item-text text-muted">Załóż i zarządzaj magazynem tematycznym.</p>
    </a>
</div>
