<section class="kbin-featured-magazines container-fluid fixed-top">
    <ul class="kbin-featured-magazines-list">
        <li class="kbin-featured-magazines-list-item kbin-featured-magazines-list-item--active"><a href="#">Strona główna</a></li>
        <li class="kbin-featured-magazines-list-item"><a href="#">Subskrybcje</a></li>
        <li class="kbin-featured-magazines-list-item"><a href="#">Wszystkie</a></li>
    </ul>
    {{ render(controller('App\\Controller\\MagazineController::featuredMagazines')) }}
</section>
