{% extends 'base.html.twig' %}

{% block body %}
    {% for entry in entries %}
        <article>
            <h4>{{ entry.title }}</h4>
            <div>
                <a href="{{ path('entry', {'magazine_name': entry.magazine.name, 'entry_id': entry.id}) }}">link</a>
            </div>
        </article>
    {% endfor %}
{% endblock %}
