{% extends 'base.html.twig' %}

{% block title %}{{ is_sub_page() ? 'Subskrybcje' : 'Strona główna' }} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="kbin-front-page">
        {% include '_layout/_entry_list_filter.html.twig' %}
        {% include 'entry/_list.html.twig' %}
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
