{
    # Debug
    {$CADDY_DEBUG}

    auto_https off
}

{$CADDY_EXTRA_CONFIG}

{$SERVER_NAME} {
    log
    
    encode br zstd gzip

    @static_files {
        path_regexp \.(ico|css|js|gif|jpg|webp|jpeg|png|svg|woff)$
    }
    header @static_files Cache-Control max-age=259200

    route {
        root * /var/www/kbin/public
  
        @supports_webp {
            header_regexp Accept image/webp
            path_regexp image_path /media/cache/resolve(?P<image_file>.*)$
        }
        handle @supports_webp {
            try_files /media/cache/{re.image_path.image_file}.webp
        }
        handle_path /media/cache/resolve* {
            try_files /media/cache{path}
        }

        mercure {
            # Transport to use (default to Bolt)
            transport_url {$MERCURE_TRANSPORT_URL:bolt:///data/mercure.db}
            # Publisher JWT key
            publisher_jwt {env.MERCURE_PUBLISHER_JWT_KEY} {env.MERCURE_PUBLISHER_JWT_ALG}
            # Subscriber JWT key
            subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY} {env.MERCURE_SUBSCRIBER_JWT_ALG}
            # Allow anonymous subscribers (double-check that it's what you want)
            anonymous
            # Enable the subscription API (double-check that it's what you want)
            subscriptions
            # Extra directives
            {$MERCURE_EXTRA_DIRECTIVES}
        }
        vulcain
        push
        php_fastcgi {$PHP_FASTCGI_HOST}
        encode zstd gzip
        file_server
    }
}

:2019 {
    metrics
}

