<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div id="kbin">
    {% include '_layout/topbar.html.twig' %}
    <div class="container">
        {% include '_layout/navbar.html.twig' %}
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer class="footer mt-auto py-3 bg-light">
            <ul>
                <li><vue-test></vue-test></li>
                <li><span data-controller="test"></span></li>
            </ul>
        </footer>
    </div>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</div>
</body>
</html>
