<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <script src="https://kit.fontawesome.com/0bf79d1c11.js" crossorigin="anonymous"></script>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div id="kbin">
    {% include '_layout/topbar.html.twig' %}
    {% include '_layout/navbar.html.twig' %}
    <section class="container mt-3 mb-3">
        <main class="kbin-main">
            {% block body %}{% endblock %}
        </main>
    </section>
    {% include '_layout/footer.html.twig' %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</div>
</body>
</html>
