<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}karab.in{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

        {% if magazine is defined and magazine %}
            <style>
                {{ magazine.customCss }}
            </style>
        {% endif %}
    {% endblock %}

    {% block javascripts %}
        {% if kbin_js_enabled %}
            {{ encore_entry_script_tags('app') }}
        {% endif %}
    {% endblock %}
</head>
<body data-controller="kbin notify-counter"
      data-action="notify:Notification->notify-counter#notification"
      data-action="notify:Message->notify-counter#message"
      data-notify-counter-hidden-class="visually-hidden"
      class="{{ app.user and app.user.theme is same as 'dark' ? 'kbin-dark' : '' }}">
<div data-controller="scroll-progress" class="bg-primary scroll-progress"></div>
<div id="kbin" data-turbo="{% if app.user and app.user.mode is same as 'turbo' %}true{% else %}false{% endif %}">
    {% include '_layout/_topbar.html.twig' %}
    {% include '_layout/_navbar.html.twig' %}
    <section class="kbin-container container pt-3 pb-5">
        <div class="row">
            <div class="col-lg-9">
                <main class="kbin-main">
                    {% block body %}{% endblock %}
                </main>
            </div>
            <aside class="col-lg-3 kbin-sidebar">
                {% block sidebar %}
                    {% include '_layout/_sidebar.html.twig' %}
                {% endblock %}
            </aside>
        </div>
    </section>
    {% include '_layout/_footer.html.twig' %}

    <div aria-live="polite" aria-atomic="true" class="position-relative d-none d-xl-block">
        <div class="kbin-toast-container toast-container position-fixed bottom-0 end-0 p-3">

        </div>
    </div>
</div>
</body>
</html>
