<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div id="kbin">
    {% include '_layout/_topbar.html.twig' %}
    {% include '_layout/_navbar.html.twig' %}
    <section class="kbin-container container pt-3 pb-3">
        <div class="row">
            <div class="col-lg-9">
                <main class="kbin-main">
                    {% block body %}{% endblock %}
                </main>
            </div>
            <div class="col-lg-3">
                {% include '_layout/_sidebar.html.twig' %}
            </div>
        </div>
    </section>
    {% include '_layout/_footer.html.twig' %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</div>
</body>
</html>
