{{ form_start(form) }}
{{ form_row(form.body, {attr: {'data-controller': 'textarea-autogrow'}}) }}
<div class="row actions">
    {{ form_row(form.submit, {attr: {class: 'btn btn__primary'}}) }}
</div>
{{ form_end(form) }}
