{% if is_granted('delete', post) %}
    <form method="post"
          class="mt-2"
          action="{{ path('post_delete', {
              magazine_name: post.magazine.name,
              post_id: post.id,
          }) }}"
          onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
        <div class="col-xs-12">
            <div class="kbin-magazine-create-form">
                <div class="input-group-sm mb-3 text-end">
                    <input type="hidden" name="token" value="{{ csrf_token('post_delete') }}">
                    <button class="btn btn-danger">{{ 'delete'|trans }}</button>
                </div>
            </div>
        </div>
    </form>
{% endif %}
