{% from '_layout/_not_found.html.twig' import not_found %}

<div class="kbin-post-list" data-controller="post-list"
    data-action="notify:PostCreatedNotification@window->post-list#add"
    {% if magazine is defined and magazine %}data-post-list-magazine-name-value="{{ magazine.name }}"{% endif %}>
    {% if posts|length %}
        {% for post in posts %}
            {{ component('post', {post: post, extraClass: 'kbin-post-list-item', showBestComments: true, showMagazine: magazine is not defined }) }}
        {% endfor %}
    {% else %}
        {{ not_found() }}
    {% endif %}
    {% if(posts.haveToPaginate) %}
        {{ pagerfanta(posts, null, {'pageParameter':'[p]'}) }}
    {% endif %}
</div>
