{% from '_layout/_not_found.html.twig' import not_found %}
{% from 'post/_macros.html.twig' import post %}

<div class="kbin-post-list">
    {% if posts|length %}
        {% for post in posts %}
            {{ post(post, {
                post: post,
                self: app.user,
                extra_classes: 'kbin-post-list-item',
                show_best_comments: true,
                title_tag: 'h4'
            }) }}
        {% endfor %}
    {% else %}
        {{ not_found() }}
    {% endif %}
    {% if(posts.haveToPaginate) %}
        {{ pagerfanta(posts, null, {'pageParameter':'[strona]'}) }}
    {% endif %}
</div>
