{% extends 'post/single.html.twig' %}

{% block title %}{{ 'add_post'|trans }}{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block before_comments %}
    <div class="kbin-comment-edit-wrapper mt-4 ps-sm-5">
        <h4 class="font-weight-bold">{{ 'add_new'|trans }}:</h4>

        {% include 'post/comment/_form.html.twig' %}
        {% include 'post/comment/_form_delete.html.twig' %}
    </div>
{% endblock %}
