{% extends 'base.html.twig' %}

{%- block title -%}
    title
{%- endblock -%}

{% block mainClass %}page-post-create{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {% if magazine is defined and magazine %}
        <h1 hidden>{{ magazine.title }}</h1>
        <h2 hidden>{{ get_active_sort_option()|trans }}</h2>
    {% else %}
        <h1 hidden>{{ get_active_sort_option()|trans }}</h1>
    {% endif %}
    <div id="content">
        {% include 'post/_add_post.html.twig' %}
    </div>
{% endblock %}
