{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'favourites'|trans }} - {{ get_short_sentence(post.body, 80) }} - {{ parent() -}}
{%- endblock -%}


{% block mainClass %}page-post-favourites{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    <div id="content">
        {{ component('post', {post: post, isSingle: true}) }}
        {% include 'post/_options_activity.html.twig' %}
        <div id="content">
            {% include 'layout/_activity_list.html.twig' with {list: favourites} %}
        </div>
    </div>
{% endblock %}
