{% extends 'base.html.twig' %}

{% block mainClass %}kbin-page-post-favourites{% endblock %}

{% block body %}
    <div id="kbin-content">
        {{ component('post', {post: post, isSingle: true}) }}
        {% include 'post/_options_activity.html.twig' %}
        {% include 'layout/_activity_list.html.twig' with {list: favourites} %}
    </div>
{% endblock %}
