{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <h1 hidden>Gorące</h1>
    </header>
    <div id="kbin-content">
        {% include 'post/comment/_add_comment.html.twig' %}
        {% include 'post/_options.html.twig' %}
        {% include 'post/comment/_list.html.twig' %}
    </div>
{% endblock %}
