{% extends 'base.html.twig' %}

{% block title %}Wpisy | {{ parent() }}{% endblock %}

    {% block body %}
        <div class="kbin-posts-page">
            <section class="kbin-post-wrapper kbin-comment-wrapper mt-4">
                <div class="mt-2">
{#                    {% include 'entry/comment/_filters.html.twig' %}#}
                </div>

                {#                {% if is_granted('comment', entry) %}#}
                {#                    {{ render(controller('App\\Controller\\EntryCommentController::commentForm', {#}
                {#                        'magazineName': entry.magazine.name,#}
                {#                        'entryId': entry.id#}
                {#                    })) }}#}
                {#                {% else %}#}
                {#                    <div class="alert alert-secondary text-muted my-3" role="alert">#}
                {#                        {% if not app.user %}#}
                {#                            <a href="{{ path('app_login') }}" class="font-weight-bold">Zaloguj się</a> aby dodać komentarz.#}
                {#                        {% else %}#}
                {#                            Nie możesz dodać komentarza.#}
                {#                        {% endif %}#}
                {#                    </div>#}
                {#                {% endif %}#}

                {% include 'post/_list.html.twig' %}
            </section>
        </div>
    {% endblock %}

{% block sidebar %}
{#    {% include 'post/_sidebar.html.twig' %}#}

    {{ parent() }}

{#    {% include 'magazine/_sidebar.html.twig' %}#}
{% endblock %}
