{% extends 'base.html.twig' %}

{% block title %}Wpisy | {{ parent() }}{% endblock %}

    {% block body %}
        <div class="kbin-posts-page">
            <section class="kbin-post-wrapper kbin-comment-wrapper">
                {% include '_layout/_filters.html.twig' %}

                {% if magazine is defined and is_granted('create_content', magazine) %}
                    {{ render(controller('App\\Controller\\PostController::postForm', {
                        'magazineName': magazine.name,
                    })) }}
                {% elseif magazine is defined %}
                    <div class="alert alert-secondary text-muted my-3" role="alert">
                        {% if not app.user %}
                            <a href="{{ path('app_login') }}" class="font-weight-bold">Zaloguj się</a> aby dodać wpis.
                        {% else %}
                            Nie możesz dodać posta.
                        {% endif %}
                    </div>
                {% endif %}

                {% include 'post/_list.html.twig' %}
            </section>
        </div>
    {% endblock %}

{% block sidebar %}
    {# {% include 'post/_sidebar.html.twig' %} #}

    {{ parent() }}

    {# {% include 'magazine/_sidebar.html.twig' %} #}
{% endblock %}
