{% extends 'base.html.twig' %}

{% block title %}Wpisy | {{ parent() }}{% endblock %}

    {% block body %}
        <div class="kbin-posts-page">
            <section class="kbin-post-wrapper kbin-comment-wrapper mt-4">
                <div class="mt-2">
{#                    {% include 'entry/comment/_filters.html.twig' %}#}
                </div>
                <div class="kbin-post-list">
                        {{ post(post, {
                            post: post,
                            self: app.user,
                            extra_classes: 'kbin-post-list-item',
                            title_tag: 'h4'
                        }) }}
                </div>
            </section>
        </div>
    {% endblock %}

{% block sidebar %}
{#    {% include 'post/_sidebar.html.twig' %}#}

    {{ parent() }}

{#    {% include 'magazine/_sidebar.html.twig' %}#}
{% endblock %}
