{% extends 'base.html.twig' %}

{%- block title -%}
    {{- get_short_sentence(post.body, 80) }} - {{ magazine.title }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-post-single{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    <div id="content">
        {{ component('post', {post: post, isSingle: true, dateAsUrl: false}) }}
        {% include 'post/comment/_options.html.twig' %}
        {% if comments|length %}
            {% include 'post/comment/_list.html.twig' %}
        {% else %}
            {% include 'post/comment/_no_comments.html.twig' %}
        {% endif %}
        <div id="comment-add">
            {% include 'post/comment/_add_comment.html.twig' %}
        </div>
        {% include 'post/_options_activity.html.twig' %}
    </div>
{% endblock %}
