{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'up_votes'|trans }} - {{ get_short_sentence(post.body, 80) }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-post-voters{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    <div id="content">
        {{ component('post', {
            post: post,
            isSingle: true
        }) }}
        {% include 'post/_options_activity.html.twig' %}
        {% include 'layout/_user_activity_list.html.twig' with {list: votes} %}
    </div>
{% endblock %}
