<aside class="options options--top" id="options">
    <div class="options__title">
        <h2>{{ 'related_tags'|trans }}</h2>
    </div>
    <menu class="options__main">
        <li>
            <a href="#">#movies</a>
        </li>
        <li>
            <a href="#">#technology</a>
        </li>
        <li>
            <a href="#">#internet</a>
        </li>
    </menu>
</aside>
