<div class="kbin-tags mt-lg-0 mb-5 text-center">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="font-weight-bold kbin-logo-color">#{{ q }}</h4>
        </div>
    </div>
</div>
