{% extends 'base.html.twig' %}

{%- block title -%}
    #{{ tag }} - {{ 'comments'|trans }} - {{ parent() -}}
{%- endblock -%}


{% block mainClass %}page-tag-comments{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {% include 'tag/_options.html.twig' %}
    <div class="comments entry-comments">
        {% include 'entry/comment/_list.html.twig' %}
    </div>
{% endblock %}
