{% extends 'base.html.twig' %}

{%- block title -%}
    #{{ tag }} - {{ 'threads'|trans }} - {{ parent() -}}
{%- endblock -%}


{% block mainClass %}page-tag-entries{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {% include 'tag/_options.html.twig' %}
    <div id="content" class="entries">
        {% include 'entry/_list.html.twig' %}
    </div>
{% endblock %}
