{% extends 'base.html.twig' %}

{%- block title -%}
    #{{ tag }} - {{ 'posts'|trans }} - {{ parent() -}}
{%- endblock -%}


{% block mainClass %}page-tag-posts{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {% include 'tag/_options.html.twig' %}
    <div id="content" class="posts">
        {% include 'post/_list.html.twig' %}
    </div>
{% endblock %}
