<div class="pb-4">
    <div class="card text-dark mb-5">
        <div class="card-header">
            <h4 class="h6 my-0">Sponsorowane</h4>
        </div>
        <div class="card-body">
            {% if kbin_domain() is same as 'karab.in' %}
                <a href="https://hetzner.cloud/?ref=8tSPCw0qqIwl" rel="nofollow noopener noreferrer">
                    <img class="py-5 mx-3 py-xxl-5 mx-xxl-5" src="{{ asset('partners/hetzner-logo.svg') }}" alt="Hetzner Cloud Servers" />
                </a>
            {% else %}
                <a href="https://karab.in/m/karabin/t/158/Czym-wlasciwie-jest-karab-in">
                    <div style="width:200px;height:220px;background: grey;margin:0 auto;opacity: .2"></div>
                </a>
            {% endif %}
        </div>

        <div class="card-footer text-center">
            <p class="small text-muted mb-0">Pula reklamowa: <strong>250₳<small>/mies.</small></strong></p>
            <p class="small text-muted">Node status: <strong>wyłączony</strong></p>
        </div>
    </div>
</div>
