{% if kbin_domain() is same as 'kbin.test' %}
    <div class="pb-4">
        <div class="card text-dark mb-5">
            <div class="card-header">
                <h4 class="h6 my-0">{{ 'partners'|trans }}</h4>
            </div>
            <div class="card-body">
                <a href="https://hetzner.cloud/?ref=8tSPCw0qqIwl" rel="nofollow noopener noreferrer">
                    <img class="py-5 mx-3 py-xxl-5 mx-xxl-5" src="{{ asset('partners/hetzner-logo.svg') }}" alt="Hetzner Cloud Servers"/>
                </a>
            </div>

            <div class="card-footer text-center small">
                <div class="d-flex justify-content-around bd-highlight mb-3">
                    <div>
                        <p class="small text-muted mb-0 pb-0"><small>Node status</small></p>
                        <p class="small text-muted mb-0 pb-0"><strong>{{ 'disabled'|trans }}</strong></p>
                    </div>
                    <div>
                        <p class="small text-muted mb-0 pb-0"><small>{{ 'monthly_pool'|trans }}</small></p>
                        <p class="small text-muted  mb-0 pb-0"><strong>250₳</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
