<div class="card text-dark mb-4">
    <div class="card-header">
        Sponsorowane
    </div>
    <div class="card-body">
        <a href="https://karab.in/m/karabin/t/158/Czym-wlasciwie-jest-karab-in">
            <div style="width:200px;height:220px;background: grey;margin:0 auto;"></div>
        </a>
    </div>

    <div class="card-footer text-center">
        <p class="small text-muted mb-0">Pula reklamowa: <strong>250₳</strong></p>
        <p class="small text-muted">Node status: <strong>wyłączony</strong></p>
    </div>
</div>
