<div{{ attributes.defaults({class: 'domain section'}) }}>
    <h3>{{ 'domain'|trans }}</h3>
    <div class="group">
        <header>
            <h4><a href="" class="stretched-link">{{ domain.name }}</a></h4>
        </header>
    </div>
    {{ component('domain_sub', {domain: domain}) }}
</div>
