{# @var this App\Twig\Components\LoginSocialsComponent #}
<div class="social">
    {% if this.googleEnabled %}
        <a href="{{ path('oauth_google_connect') }}" class="btn btn__secondary"><i class="fa-brands fa-google"></i>
            Google</a>
    {% endif %}
    {% if this.facebookEnabled %}
        <a href="{{ path('oauth_facebook_connect') }}" class="btn btn__secondary"><i class="fa-brands fa-facebook"></i>
            Facebook</a>
    {% endif %}
</div>