{% if this.prefix %}<small class="text-muted">/m/</small>{% endif %}<a class="{{ this.bolded ? 'font-weight-bold' : '' }}"
                                                                       href="{{ path('front_magazine', {'name': this.magazine.name}) }}">{{ this.magazine.name }}</a>
