<div class="mb-3">
    <h2 class="h5 mb-2 kbin-title">
        {% if this.url %}
            <a class="text-decoration-none text-reset font-weight-bold" href="{{ this.url }}">{{ this.title }}</a>
        {% else %}
            {{ this.title }}
        {% endif %}
    </h2>
    <div class="hr"></div>
</div>