<a href="{{ path('user_overview', {username: user.username}) }}" class="user-inline">
    {% if user.avatar and showAvatar %}
        <img width="30" height="30"
             src="{{ asset(user.avatar.filePath) | imagine_filter('avatar_thumb') }}"
             alt="{{ user.username ~ ' avatar' }}"
             aria-hidden="true">
    {% endif %}
    {{ user.username|username -}}
</a>