{%- set VOTE_NONE = constant('App\\Entity\\Contracts\\VoteInterface::VOTE_NONE') -%}

{% if app.user %}
    {%- set VOTE_UP = constant('App\\Entity\\Contracts\\VoteInterface::VOTE_UP') -%}
    {%- set VOTE_DOWN = constant('App\\Entity\\Contracts\\VoteInterface::VOTE_DOWN') -%}
    {%- set user_choice = is_granted('ROLE_USER') ? this.votable.userChoice(app.user) : null -%}

    {% set upUrl = path(this.formDest, {id: this.votable.id, choice: VOTE_UP}) %}
    {% set downUrl = path(this.formDest, {id: this.votable.id, choice: VOTE_DOWN}) %}

    {% if(user_choice is same as(VOTE_UP)) %}
        {% set choice = VOTE_UP %}
    {% elseif(user_choice is same as(VOTE_DOWN)) %}
        {% set choice = VOTE_DOWN %}
    {% else %}
        {% set choice = VOTE_NONE %}
    {% endif %}
{% else %}
    {% set choice = VOTE_NONE %}
{% endif %}

<aside{{ attributes.defaults({class: 'kbin-vote'}) }}>
    <button class="kbin-vote__up" title="Oceń pozytywnie" aria-label="Oceń pozytywnie">
        <span>+</span> {{ this.subject.countUpvotes }}
    </button>
    <button class="kbin-vote--down" title="Oceń negatywnie" aria-label="Oceń negatywnie">
        <span>-</span> {{ this.subject.countDownvotes }}
    </button>
</aside>
