{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'stats'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-stats{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    <h1>{{ 'stats'|trans }}</h1>
    <div id="content" class="section">
    </div>
{% endblock %}
