{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'login'|trans }} 500 - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-error{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    <div id="content" class="section section--top section--muted">
        <p>{{'errors.server500.title'|trans}}</p>
        <small>{{'errors.server500.description'|trans}}</small>
    </div>
{% endblock %}
