{% extends 'base.html.twig' %}

{% block body %}
    <div class="kbin-login mt-lg-4">
        {# <div class="kbin-magazine-background"></div> #}

        <h1 class="font-weight-bold">Zaloguj się</h1>
        <p class="kbin-magazine-create-lead lead mb-5">login:demo@karab.in pass:demo</p>

        <div class="col-lg-6">
            <h1>404</h1>
        </div>
    </div>
{% endblock %}
