{% extends 'base.html.twig' %}

{% block title %}{{ 'error'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="kbin-login mt-lg-4">
        {# <div class="kbin-magazine-background"></div> #}

        <h1 class="font-weight-bold">{{ 'error'|trans }} 403</h1>
        <p class="kbin-magazine-create-lead lead mb-5">{{ 'something_went_wrong'|trans }}</p>
    </div>
{% endblock %}
