<form class="kbin-comment-add">
    <div class="kbin-group">
        <label>
            <textarea aria-label="Treść komentarza"></textarea>
        </label>
    </div>

    <div class="kbin-comment-add-actions">
        <button type="button" class="kbin-btn-secondry" aria-label="Jak działa edytor?"><i class="kbin-icon__question"></i></button>
        <button type="button" class="kbin-btn-secondry" aria-label="Dodaj media"><i class="kbin-icon__media"></i></button>
        <input type="submit" value="Dodaj komentarz"/>
    </div>
</form>

