<div class="kbin-comment-filter btn-group" role="group">
    <a href="{{ get_active_comment_filter_path('najnowsze') }}"
       class="btn btn-sm {{ is_active_comment_filter('najnowsze') ? 'btn-primary' : 'btn-light' }}" tabindex="-1" role="button">
        Najnowsze
    </a>
    <a href="{{ get_active_comment_filter_path('wazne') }}"
       class="btn btn-sm {{ is_active_comment_filter('wazne') ? 'btn-primary' : 'btn-light' }}" tabindex="-1" role="button">
        Najlepsze
    </a>
</div>
