{% from 'entry/comment/_macros.html.twig' import comment %}

<div class="kbin-comment-list mt-3">
    {% for comment in comments %}
        {{ comment(comment, {
            self: app.user,
            comment: comment,
            extra_classes: 'kbin-comment-list-item mb-0',
            nested: nested ?? true,
            with_parent: with_parent ?? false
        }) }}
    {% endfor %}

    {% for i in 2..8 %}
        <div class="kbin-comment-line--{{ i }}"></div>
    {% endfor %}
</div>

{% if(comments.haveToPaginate) %}
    {{ pagerfanta(comments, null, {'pageParameter':'[strona]'}) }}
{% endif %}
