<aside class="comments entry-comments">
    {% for comment in comments %}
        {{ component('entry_comment', {comment: comment, showMagazineName: magazine is not defined or not magazine, showEntryTitle: entry is not defined or not entry}) }}
    {% endfor %}

    {% if not comments|length %}
        <aside class="section section--muted user-list">
            <p>{{ 'empty'|trans }}</p>
        </aside>
    {% endif %}
</aside>
