{% if comment.children|length %}
    {%- for reply in comment.children -%}
        {% if reply.visibility is same as 'private' %}
            {% if app.user and reply.user.isFollower(app.user) %}
                {{ component('entry_comment', {comment: reply, level: level + 1}) }}
            {% else %}
                <div class="text-black position-relative p-2 text-center" style="background: #9c9c9c !important; z-index: 10;">
                    private
                </div>
            {% endif %}
        {% else %}
            {% if not app.user or (app.user and not app.user.isBlocked(reply.user)) %}
                {{ component('entry_comment', {comment: reply, level: level + 1}) }}
            {% endif %}
        {% endif %}
    {%- endfor -%}
{% endif %}
