<aside class="kbin-options" id="kbin-comments-options">
    <div class="kbin-options__title"><h2>Komentarze (0)</h2></div>
    <menu class="kbin-options__sort">
        <li><a href="#">najlepsze</a></li>
        <li><a href="#">gorące</a></li>
        <li><a href="#">aktywne</a></li>
        <li><a href="#">najnowsze</a></li>
    </menu>
    <menu class="kbin-options__layout">
        <li><a href="#" title="Widok kompaktowy" aria-label="Widok kompaktowy"><i class="kbin-icon__layout"></i></a></li>
    </menu>
</aside>
