{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'add_comment'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-entry-comment-create{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {{ component('entry', {entry: entry, isSingle: true, showShortSentence: false, showBody:false}) }}
    {% if parent is defined and parent %}
        {{ component('entry_comment', {comment: parent, showEntryTitle: false, showNested: false}) }}
    {% endif %}
    <div id="content">
        {% include 'entry/comment/_add_comment.html.twig' %}
    </div>
{% endblock %}
