{% extends 'base.html.twig' %}

{% block body %}
    <div id="kbin-content">
        {{ component('entry', {entry: entry, isSingle: true, showShortSentence: false, showBody:true, class: 'kbin-entry--single'}) }}

        {% include 'entry/comment/_options_sort.html.twig' %}
        {{ component('entry_comment', {comment: this.parent}) }}
        {% include 'entry/comment/_add_comment.html.twig' %}
        {% include 'entry/_options_activity.html.twig' %}
    </div>
{% endblock %}
