{% extends 'entry/single.html.twig' %}

{% block title %}{{ 'reply'|trans }}{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block after_entry %}
    {% if comment is defined and comment %}
        <section class="kbin-comment-wrapper mt-4">
            {{ component('entry_comment', {comment: parent, extraClass: 'kbin-comment-list-item mb-0', withParent: false, nested:false }) }}
        </section>
    {% endif %}

    {% include 'entry/comment/_form.html.twig' %}
{% endblock %}
