{% extends 'base.html.twig' %}

{% block mainClass %}kbin-page-entry-comment-create{% endblock %}

{% block body %}
    <div id="kbin-content">
        {{ component('entry', {entry: entry, isSingle: true, showShortSentence: false, showBody:false}) }}

        {% include 'entry/comment/_options.html.twig' %}
        {{ component('entry_comment', {comment: parent}) }}
        {% include 'entry/comment/_add_comment.html.twig' %}
    </div>
{% endblock %}
