{% extends 'base.html.twig' %}

{% block title %}{{ 'edit_comment'|trans }}{% endblock %}

{% block body %}
    {% embed 'entry/_single.html.twig' %}
        {% block before_comments %}
            <div class="kbin-comment-edit-wrapper mt-4 ps-sm-5">
                {% include 'entry/comment/_form.html.twig' %}
                {% include 'entry/comment/_form_delete.html.twig' %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
