{% extends 'entry/front.html.twig' %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block after_entry %}
    <div class="kbin-comment-edit-wrapper mt-4">
        <h4 class="font-weight-bold">Edytuj:</h4>
    </div>

    {% include 'entry/comment/_form.html.twig' %}
    {% include 'entry/comment/_form_purge.html.twig' %}
{% endblock %}
