{% extends 'entry/single.html.twig' %}

{%- block title -%}{{- 'favourites'|trans|capitalize -}}{%- endblock -%}

{% block body %}
    <section class="kbin-comment-wrapper mt-4 mb-4">
        {{ component('entry', { entry: entry }) }}
        {{ component('entry_comment', { comment: comment, withParent: false, nested: false }) }}
    </section>

    {{ component('title', {title: 'favourites'|trans|capitalize }) }}
    {% include '_layout/_favourites_list_grid.html.twig' with { subject: comment } %}
{% endblock %}
