{% extends 'base.html.twig' %}

{% block title %}test{% endblock %}

{% block body %}
    <div class="kbin-comment-wrapper">
        {% include 'entry/comment/_filters.html.twig' %}
        {% include 'entry/comment/_list.html.twig' %}
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
