{% extends 'base.html.twig' %}

{% block title %}Komentarze | {{ parent() }}{% endblock %}

{% block body %}
    <div class="kbin-comment-wrapper">
        {% include 'entry/comment/_filters.html.twig' %}
        {% include 'entry/comment/_list.html.twig' %}
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {% if is_magazine_page() %}
        {% include 'magazine/_sidebar.html.twig' %}
    {% else %}
        {% include '_layout/_kbin_about.html.twig' %}
    {% endif %}
{% endblock %}
