{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'activity'|trans }} - {{ get_short_sentence(comment.body, 80) }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-entry-comment-voters{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {{ component('entry_comment', {comment: comment, showEntryTitle: false, showMagazineName: false}) }}
    {% include 'entry/comment/_options_activity.html.twig' %}
    <div id="content">
        {% include 'layout/_activity_list.html.twig' with {list: votes} %}
    </div>
{% endblock %}
