{% if list|length %}
    <div class="section user-list">
        <ul>
            {% for subject in list %}
                <li>
                    {% if subject.user.avatar %}
                        <figure>
                            {{ component('user_avatar', {user:subject.user}) }}
                        </figure>
                    {% endif %}
                    <div>
                        <a href="#" class="stretched-link">{{ subject.user.username|username }}</a>
                        <small>{{ component('date', {date: subject.createdAt}) }}</small>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% else %}
    <aside class="section section--muted user-list">
        <p>{{ 'empty'|trans }}</p>
    </aside>
{% endif %}