<footer id="kbin-footer">
    <section>
        <h5>karab.in</h5>
        <menu>
            <li><a href="#">O instancji</a></li>
            <li><a href="#">Wszystkie magazyny</a></li>
            <li><a href="#">Log moderatorski</a></li>
            <li><a href="#">Statystyki</a></li>
            <li><a href="#">Federacja</a></li>
            <li><a href="#">Odznaczenia</a></li>
            <li><a href="#">Ranking</a></li>
        </menu>
    </section>
    <section>
        <h5>przydatne</h5>
        <menu>
            <li><a href="#">Utwórz nowy magazyn</a></li>
            <li><a href="#">Dodaj artykuł</a></li>
            <li><a href="#">Dodaj link</a></li>
            <li><a href="#">Dodaj fotografię</a></li>
            <li><a href="#">Dodaj wpis na mikroblogu</a></li>
            <li><a href="#">Dodaj film</a></li>
            <li><a href="#">Dodaj Smart Contract</a></li>
        </menu>
    </section>
    <section>
        <h5>pomoc</h5>
        <menu>
            <li><a href="#">Kontakt</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Regulamin</a></li>
            <li><a href="#">Polityka prywatności</a></li>
        </menu>
    </section>
    <section>
        <h5>© 2023 karab.in</h5>
        <div>Powered by <a href="#">kbin</a></div>
        <div>
            <menu>
                <li><a href="#" title="Zmień motyw" aria-label="Zmień motyw"><i class="kbin-icon__bulb"></i></a></li>
                <li><a href="#" title="Zmień motyw" aria-label="Kanał RSS"><i class="kbin-icon__rss"></i></a></li>
            </menu>
        </div>
    </section>
</footer>

