<header id="kbin-header">
    <div class="kbin-sr-nav">
        <a href="#kbin-content">Przejdź do treści</a>
        <a href="#kbin-options">Przejdź do filtrów</a>
        <a href="#kbin-search">Przejdź do wyszukiwarki</a>
        <a href="#kbin-footer">Przejdź do stopki</a>
    </div>
    <div class="kbin-brand">
        <a href="/">karab.in</a>
    </div>
    {#    <div class="kbin-magazine">#}
    {#        <span>/m/</span><a href="/">karabin</a>#}
    {#    </div>#}
    <nav>
        <menu>
            <li><a href="#">Treści</a></li>
            <li><a href="#">Mikroblog</a></li>
            <li><a href="#">Ludzie</a></li>
            <li><a href="#">Wydarzenia</a></li>
            <li><a href="#">Magazyny</a></li>
        </menu>
    </nav>
    <menu>
        <li><a href="#" aria-label="Szukaj"><i class="kbin-icon__search"></i></a></li>
        <li><a href="#" aria-label="Dodaj"><i class="kbin-icon__add"></i></a></li>
        <li><a href="#" aria-label="Wybierz kanał"><i class="kbin-icon__channel"></i></a></li>
        <li><a href="#" aria-label="Zobacz profil użytkownika"><i class="kbin-icon__user"></i></a></li>
    </menu>
</header>
