<div class="sidebar-options">
    <div class="options options--top">
        <menu>
            <li><a href="#" title="Federacja" aria-label="Federacja"><i class="fa-solid fa-network-wired"></i></a></li>
            <li><a href="#" title="Ustawienia" aria-label="Ustawienia"><i class="fa-solid fa-gear"></i></a></li>
        </menu>
    </div>
    <div class="section">
        <h3>{{ 'theme'|trans }}</h3>
        {% include 'layout/_options_theme.html.twig' %}
        {% include 'layout/_options_font_size.html.twig' %}
        {% include 'layout/_options_appearance.html.twig' %}
    </div>
</div>


{% if sidebar_top is empty %}
{% else %}
    {{ sidebar_top|raw }}
{% endif %}
{% if user is defined %}
    {% include 'user/_info.html.twig' %}
{% endif %}
{% if entry is defined and magazine %}
    {% include 'entry/_info.html.twig' %}
{% endif %}
{% if magazine is defined and magazine %}
    {{ component('magazine', {magazine: magazine, showSectionTitle: true}) }}
    {% include 'magazine/_moderators_sidebar.html.twig' %}
{% endif %}
{{ component('related_posts') }}
