<div class="kbin-social">
    <a href="{{ path('oauth_facebook_connect') }}" class="kbin-btn kbin-btn__secondry"><i
                class="kbin-icon__google"></i>
        Google</a>
    <a href="{{ path('oauth_google_connect') }}" class="kbin-btn kbin-btn__secondry"><i
                class="kbin-icon__facebook"></i>
        Facebook</a>
</div>