{% set blocked = is_user_blocked(user) %}
<form action="{{ path('user_' ~ (blocked ? 'unblock' : 'block'), {username: user.username}) }}"
      method="POST"
      class="kbin-user-block {{ blocked ? 'kbin-block--active' : '' }}">
    <button type="submit"
            class="btn btn btn-outline-light text-dark text-muted rounded-end {{ is_granted('block', user) ? '' : 'disabled' }}"><i class="fas fa-ban"></i></button>
    <input type="hidden" name="token" value="{{ csrf_token('block') }}">
</form>
