<div class="social">
    <a href="{{ path('oauth_google_connect') }}" class="btn btn__secondry"><i class="fa-brands fa-google"></i>
        Google</a>
    <a href="{{ path('oauth_facebook_connect') }}" class="btn btn__secondry"><i class="fa-brands fa-facebook"></i>
        Facebook</a>
</div>