<div class="d-grid gap-2x">
    <a href="{{ path('oauth_facebook_connect') }}" class="btn btn-light btn-lg mb-2" tabindex="-1" role="button" aria-disabled="true"><i class="fab fa-facebook me-2"></i> <small>Facebook</small></a>
    <a href="{{ path('oauth_google_connect') }}" class="btn btn-light btn-lg mb-2" tabindex="-1" role="button" aria-disabled="true"><i class="fab fa-google me-2"></i> <small>Google</small></a>
    <a href="{{ path('oauth_github_connect') }}" class="btn btn-light btn-lg mb-2" tabindex="-1" role="button" aria-disabled="true"><i class="fab fa-github me-2"></i> <small>Github</small></a>
</div>
