{% extends 'base.html.twig' %}

{% block title %}{{ user.username }} | Komentarze | {{ parent() }}{% endblock %}

{% block body %}
    <div class="kbin-user-comments-page">
        <div class="kbin-comment-wrapper">
            {% include 'entry/comment/_list.html.twig' with {'nested': false, 'with_parent':true} %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'user/_sidebar.html.twig' %}
    {{ parent() }}
    <div class="mb-4">
        {% include 'user/_moderator_list_card.html.twig' %}
    </div>
{% endblock %}
