{% extends 'base.html.twig' %}
{% from '_layout/_not_found.html.twig' import not_found %}

{% block title %}{{ user.username }} - {{ 'followers'|trans }}{% endblock %}

{% block body %}
    <div class="kbin-user-followers-page">
        {% if users|length %}
            {% include'user/_list_table.html.twig' %}
        {% else %}
            {{ not_found() }}
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'user/_sidebar.html.twig' %}
    {{ parent() }}
    <div class="mb-4">
        {% include 'user/_moderator_list_card.html.twig' %}
    </div>
{% endblock %}
