{% extends 'base.html.twig' %}

{% block title %}{{ user.username }} - Przegląd | {{ parent() }}{% endblock %}

{% block body %}
    <div class="kbin-user-front-page">
        {% include 'user/_filters.html.twig' %}
        {% include 'entry/_list.html.twig' %}
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'user/_sidebar.html.twig' %}

    {{ parent() }}
{% endblock %}
