{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'send_message'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-user page-user-send-message{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    <header>
        <h1 hidden>{{ 'message'|trans }}</h1>
    </header>
    {% include('user/_options.html.twig') %}
    <div id="content" class="section">
        {% include 'messages/_form_create.html.twig' %}
    </div>
{% endblock %}
