{% extends 'base.html.twig' %}

{% block title %}{{ user.username }} - {{ 'posts'|trans }}{% endblock %}

{% block body %}
    <div class="kbin-user-posts-page kbin-posts-page">
        <div class="kbin-post-wrapper kbin-comment-wrapper ">
            {% include 'post/_list.html.twig' with {'show_best_comments': true, 'hide_username': true} %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'user/_sidebar.html.twig' %}
    {{ parent() }}
    <div class="mb-4">
        {% include 'user/_moderator_list_card.html.twig' %}
    </div>
{% endblock %}
