{% extends 'base.html.twig' %}

{% block title %}Zarejestruj się | {{ parent() }}{% endblock %}

{% block body %}
    <div class="kbin-user-register-page">
        <div class="kbin-login mt-lg-4">
            <div class="kbin-magazine-background"></div>

            <div class="row">
                <div class="col-lg-6 mb-3">
                    <h1 class="font-weight-bold mb-5">Utwórz konto</h1>
                    {% include 'user/profile/_form_user.html.twig' %}
                    <p class="mt-4">Masz już konto? <a href="{{ path('app_login') }}">Zaloguj się!</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
