{% extends 'base.html.twig' %}
{% from '_layout/_not_found.html.twig' import not_found %}

{% block title %}{{ user.username }} - {{ 'replies'|trans }}{% endblock %}

{% block body %}
    <div class="kbin-user-comments-page">
        <div class="kbin-comments-list kbin-comment-wrapper kbin-post-wrapper">
            {% if comments|length %}
                {% include 'post/comment/_list.html.twig' with {withParent: false, nested:false} %}
            {% else %}
                {{ not_found() }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'user/_sidebar.html.twig' %}
    {{ parent() }}
    <div class="mb-4">
        {% include 'user/_moderator_list_card.html.twig' %}
    </div>
{% endblock %}
