{% extends 'base.html.twig' %}

{% block title %}{{ 'reports'|trans }}{% endblock %}

    {% block body %}
        <div class="kbin-report-page kbin-entry-wrapper kbin-comment-wrapper kbin-post-wrapper">
            {% include '_layout/_flash.html.twig' %}
            <div class="mb-4">
                {% include '_layout/_subject.html.twig' %}
            </div>

            <h4 class="font-weight-bold">Zgłoś treść</h4>
            {% include 'report/_form.html.twig' %}
        </div>
    {% endblock %}

{% block sidebar %}
    {{ parent() }}

    {% include 'magazine/_sidebar.html.twig' %}
{% endblock %}
